@font-face {
  font-family: 'FontAwesome';
  src: url("../files/fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../files/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format('embedded-opentype'), url("../files/fonts/fontawesome-webfont.woff2?v=4.4.0") format('woff2'), url("../files/fonts/fontawesome-webfont.woff?v=4.4.0") format('woff'), url("../files/fonts/fontawesome-webfont.ttf?v=4.4.0") format('truetype'), url("../files/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.green {
  color: #05919b;
}
.blue {
  color: #000f4b;
}
.gray {
  color: #91999b;
}
.dark-gray {
  color: #606c76;
}
.utralight {
  font-weight: 100;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
/* normalize.css v1.1.3 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:link,
a:visited,
a:hover,
a:focus,
button:active,
button:hover,
button:visited,
button:focus,
input:focus {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px;
/* 3 */
}
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible;
/* 4 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px;
/* 3 */
  *width: 13px;
/* 3 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html * {
  font-family: 'Roboto', arial, helvetica;
}
main,
#outdated {
  font-size: 1.6rem;
}
html,
body {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
main {
  width: 100%;
  min-height: 100%;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
}
[class*=col-] {
  padding: 0;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
*:focus {
  outline: none !important;
}
textarea {
  resize: none;
}
::-webkit-input-placeholder {
  color: #808080;
}
:-moz-placeholder {
/* Firefox 18- */
  color: #808080;
}
::-moz-placeholder {
/* Firefox 19+ */
  color: #808080;
}
:-ms-input-placeholder {
  color: #808080;
}
.update-browser {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #666;
  display: none;
}
.update-browser .update-browser-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 25px;
}
.update-browser .update-browser-link {
  color: #fff;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  width: 60%;
}
.update-browser .update-browser-link a {
  color: #fff;
  text-decoration: underline;
}
a:link,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}
fieldset {
  border: none;
}
.btn,
a {
  cursor: pointer;
}
.display-table {
  display: table;
  height: 100%;
  margin: 0 auto;
}
.display-table .display-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.big-center {
  margin: 0 auto;
  display: block;
  clear: both;
  width: 100%;
  height: inherit;
  max-width: 1500px;
}
.center {
  margin: 0 auto;
  display: block;
  clear: both;
  width: 100%;
  height: inherit;
  max-width: 1200px;
}
.small-center {
  margin: 0 auto;
  display: block;
  clear: both;
  width: 100%;
  height: inherit;
  max-width: 980px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hide {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.none {
  display: none;
}
.error {
  color: #f00;
  display: block;
  font-size: 12px;
  height: 17px;
}
.ico {
  display: inline-block;
}
.ico-dashboard {
  background-image: url("../images/sprite.png");
  background-position: 0px -114px;
  width: 57px;
  height: 56px;
}
.ico-visualizar {
  background-image: url("../images/sprite.png");
  background-position: -174px -56px;
  width: 56px;
  height: 56px;
}
.ico-solicitudes {
  background-image: url("../images/sprite.png");
  background-position: -117px 0px;
  width: 57px;
  height: 56px;
}
.ico-historial {
  background-image: url("../images/sprite.png");
  background-position: 0px -58px;
  width: 57px;
  height: 56px;
}
.ico-usuarios {
  background-image: url("../images/sprite.png");
  background-position: 0px -170px;
  width: 56px;
  height: 56px;
}
.ico-coordinadores {
  background-image: url("../images/sprite.png");
  background-position: -174px -112px;
  width: 56px;
  height: 56px;
}
.ico-agentes {
  background-image: url("../images/sprite.png");
  background-position: -56px -170px;
  width: 56px;
  height: 56px;
}
.ico-sillas {
  background-image: url("../images/sprite.png");
  background-position: -57px -114px;
  width: 57px;
  height: 56px;
}
.ico-aerolineas {
  background-image: url("../images/sprite.png");
  background-position: -114px -114px;
  width: 57px;
  height: 56px;
}
.ico-alertas {
  background-image: url("../images/sprite.png");
  background-position: -57px -58px;
  width: 57px;
  height: 56px;
}
.ico-configuracion {
  background-image: url("../images/sprite.png");
  background-position: -117px -56px;
  width: 57px;
  height: 56px;
}
.ico-reportes {
  background-image: url("../images/sprite.png");
  background-position: -174px 0px;
  width: 57px;
  height: 56px;
}
.ico-close {
  background-image: url("../images/sprite.png");
  background-position: -112px -170px;
  width: 56px;
  height: 56px;
}
.ico_vermas {
  background-image: url("../images/sprite.png");
  background-position: 0px -226px;
  width: 21px;
  height: 12px;
  cursor: pointer;
}
.ico-torta {
  background-image: url("../images/sprite.png");
  background-position: -193px -170px;
  width: 25px;
  height: 24px;
  margin-bottom: -2px;
  margin-right: 10px;
}
.ic_calendario {
  background-image: url("../images/sprite.png");
  background-position: -168px -170px;
  width: 25px;
  height: 24px;
}
.ic_llegada {
  background-image: url("../images/sprite.png");
  background-position: -168px -194px;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.main-login {
  background-image: url("../images/img_bg.jpg") !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  background-position: 0 center;
}
.form-control.signin-input {
  width: 265px;
  height: 50px;
  border: solid 2px #606c76;
  background-color: rgba(10,10,10,0.2);
}
.form-control.signin-input:focus {
  border: solid 2px #05919b;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  border: solid 1.5px #05919b;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn {
  text-transform: uppercase;
}
.btn.signin-btn {
  width: 265px;
  height: 50px;
  background-color: #05919b;
  color: #fff;
  margin-top: 44px;
}
.btn-medium.btn-green,
.btn-medium.btn-green:hover,
.btn-medium.btn-green:active,
.btn-medium.btn-green:focus {
  background: #05919b;
  color: #fff;
  border: 1px solid #05919b;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.btn-medium.btn-white,
.btn-medium.btn-white:hover,
.btn-medium.btn-white:active,
.btn-medium.btn-white:focus {
  border: none;
  background: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #606c76;
}
.btn-medium {
  width: 190px;
  height: 36px;
  font-size: 16px;
}
.forgot-password.signin-link {
  color: #05919b;
  display: table;
  margin-top: 32px;
  font-weight: 500;
}
.btn-estado.btn-xs,
.btn-estado.btn-xs:hover,
.btn-estado.btn-xs:active,
.btn-estado.btn-xs:focus {
  background-color: #05919b;
  border-color: #05919b;
  color: #fff !important;
  margin-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
}
.modal-medium {
  width: 450px;
}
.modal-body {
  padding: 0px 20px;
}
.modal-content {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal-title {
  font-size: 24px;
  font-weight: 500;
}
.modal-header,
.modal-footer {
  border: none;
}
.modal-text {
  font-size: 15px;
  line-height: 26px;
}
[data-notify="container"][class*="alert-"] {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 15px;
  position: relative;
  border: none;
  max-width: 300px;
}
[data-notify="container"].alert-success {
  background-color: #05919b;
}
[data-notify="container"] .close {
  color: #fff;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
[data-notify="container"][class*="alert-"] > [data-notify="title"] {
  color: #fff;
  font-size: 35px;
  margin-bottom: 15px;
  font-style: italic;
  clear: both;
  display: block;
  margin: 0;
}
[data-notify="container"][class*="alert-"] > [data-notify="message"] {
  font-style: italic;
  color: #fff;
  font-size: 15px;
}
.section-config {
  position: relative;
}
.section-config .config-language {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 1;
}
.section-config .config-language span {
  display: inline-block;
  cursor: pointer;
}
.section-config .config-language .language-separator {
  margin: 0 10px;
  cursor: auto;
}
.section-config .block-container:first-of-type {
  background-color: #f2f2f2;
}
.section-config .box-shadow {
  -webkit-box-shadow: 6px 6px 11px -2px #ccc;
  box-shadow: 6px 6px 11px -2px #ccc;
}
.section-config .config-block {
  padding: 45px 20px 50px 60px;
  height: 231px;
  overflow: hidden;
}
.section-config .config-block .config-title {
  font-size: 15px;
}
.section-config .config-block .config-text {
  font-size: 15px;
  margin-top: 38px;
}
.section-config .bootstrap-touchspin {
  display: block;
  float: left;
}
.section-config .bootstrap-touchspin .input-group-addon {
  border: none;
  background: transparent;
  position: absolute;
  font-size: 23px;
  right: -7px;
  top: 68px;
  color: #91999b;
  text-transform: capitalize;
  font-weight: 300;
}
.section-config .bootstrap-touchspin .spinner-time,
.section-config .bootstrap-touchspin .spinner-amount {
  width: 77px;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 55px;
  margin-top: 30px;
  font-weight: 400;
  text-align: center;
  background: transparent;
}
.section-config .bootstrap-touchspin .input-group-btn-vertical {
  width: 100%;
  height: 100%;
  position: absolute;
}
.section-config .bootstrap-touchspin .input-group-btn-vertical >.btn {
  position: absolute;
  border: none;
  left: 15px;
  z-index: 2;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 55px;
}
.section-config .bootstrap-touchspin .input-group-btn-vertical >.btn .fa {
  font-size: 55px;
  color: #91999b;
}
.section-config .bootstrap-touchspin .bootstrap-touchspin-up {
  top: -5px;
}
.section-config .bootstrap-touchspin .bootstrap-touchspin-down {
  bottom: -23px;
}
.section-config .table-title {
  font-size: 15px;
  margin: 35px 0 0 60px;
}
.section-config .config-table {
  width: 870px;
  margin-left: 60px;
}
.section-config .config-table >thead>tr>th {
  border-width: 1px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 300;
}
.section-config .config-table .plus-ico {
  vertical-align: bottom;
  margin-left: 15px;
  font-size: 45px;
  font-weight: 300;
  cursor: pointer;
}
.section-config .config-table td {
  font-size: 17px;
  color: #606c76;
}
.section-config .config-table td:first-of-type {
  font-weight: 300;
  width: 52%;
  font-size: 20px;
}
.section-config .config-table .ico {
  margin-left: 20px;
  vertical-align: middle;
}
.section-config .config-table .link-eliminar {
  margin-top: -3px;
}
body {
  color: #91999b;
}
.main-login [class*="col-"] {
  height: 100%;
  position: absolute;
}
.main {
  width: 100% !important;
  min-width: 1220px;
  float: left;
  overflow: hidden !important;
  padding-right: 0 !important;
  background: -webkit-linear-gradient(0deg, #000f4b 57px, #fff 57px);
  background: -moz-linear-gradient(0deg, #000f4b 57px, #fff 57px);
  background: -o-linear-gradient(0deg, #000f4b 57px, #fff 57px);
  background: -ms-linear-gradient(0deg, #000f4b 57px, #fff 57px);
  background: linear-gradient(90deg, #000f4b 57px, #fff 57px);
}
.main-login .main-content {
  min-width: 1280px;
}
.content-form-signin {
  max-width: 350px;
  padding: 40px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 50%;
  margin-bottom: -185px;
}
.line-separation {
  height: 236px;
  width: 2px;
  background-color: #05919b;
}
.content-form-signin .content-logo {
  bottom: 150%;
  margin-bottom: -324px;
  position: absolute;
  right: 150%;
}
.content-form-signin .content-logo2 {
  bottom: 164%;
  margin-bottom: -324px;
  position: absolute;
  right: 150%;
}
.content-form-signin .content-line {
  bottom: 80%;
  left: -21%;
  margin-bottom: -185px;
  position: absolute;
}
.sidebar-collapse .nav > li > a.ico-inicio:hover {
  background-color: #000f4b;
}
.ico-inicio {
  position: relative;
  width: 57px;
  height: 35px;
  display: block;
  border-bottom: solid 1px #152a6d;
}
.ico-inicio img {
  top: 50%;
  left: 50%;
  margin-top: 6px;
  margin-left: 6px;
}
.nav > li > a {
  padding: 0px;
}
.nav-item .ico {
  position: relative;
  width: 57px;
  z-index: 2;
  background-color: #000f4b;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.navbar-static-side {
  float: left;
  width: 57px;
  z-index: 2001;
  position: fixed;
  height: 100%;
}
.navbar-default {
  background-color: #000f4b;
  border-color: #2f4050;
}
.sidebar-collapse .nav > li > a {
  color: #a7b1c2;
  font-weight: 600;
  text-align: center;
}
.sidebar-collapse .nav > li > a:hover {
  background-color: #05919b;
  color: #fff;
}
.item-close {
  margin-top: 22px;
}
.nav-label {
  background-color: #05919b;
  display: block;
  color: #fff;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  left: -200px;
  padding: 16.5px;
  position: absolute;
  top: -0.1px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.nav-label:hover {
  background-color: #05919b;
}
.nav-item {
  position: relative;
  width: 56.5px;
  height: 58px;
  float: left;
  border-bottom: solid 1px #152a6d;
}
.nav-item:hover .nav-label {
  left: 56px;
}
.nav-item:hover .ico {
  background-color: #05919b;
}
.nav-item.active .ico {
  background-color: #05919b;
}
.main-right-panel {
  float: left;
  margin: 0;
  width: calc(100% - 57px);
  margin-left: 57px;
}
.header-title {
  padding-top: 38px;
  display: inline-block;
  color: #fff;
  letter-spacing: -3px;
  font-size: 52px;
}
.panel-header {
  height: 92px;
  background-image: url("../images/im_cabecera.jpg");
  padding-left: 27px;
  background-position: 0 246px;
  padding-right: 30px;
  background-position: cover;
  position: relative;
  z-index: 9;
  -webkit-box-shadow: 0 4px 4px 0 #ccc;
  box-shadow: 0 4px 4px 0 #ccc;
}
.header-sesion {
  margin-top: 30px;
}
.header-sesion span {
  display: block;
  color: #fff;
}
.header-sesion > span {
  font-weight: 300;
  line-height: 1.2;
}
.header-sesion .sesion-medium {
  font-size: 19px;
}
.panel-content > div {
  height: calc(100% - 92px);
  padding-right: 50px;
  position: absolute;
}
.panel-content .section-right {
  height: 100%;
}
.section-right {
  padding-right: 20px;
}
.section-left {
  -webkit-box-shadow: 2px 0 5px -2px #ccc;
  -webkit-box-shadow: 2px 0 5px -2px #ccc;
  box-shadow: 2px 0 5px -2px #ccc;
  background: #fff;
  z-index: 8;
}
.section-left-searching {
  height: 59px;
}
.searching-input.form-control {
  height: 57px;
  border: 0px;
  background-image: url("../images/ic_buscar.png");
  background-repeat: no-repeat;
  background-position: 26px center;
  padding-left: 62px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.searching-input.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.add-registro-link {
  height: 59px;
  width: 59px;
  display: block;
}
.section-left-content {
  border-bottom: solid 2px #ecedf2;
}
.section-left-content div {
  display: inline-block;
  vertical-align: middle;
}
.section-left-estado .form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/ic_punta_abajo.png") 99% 11px no-repeat;
  border: 0 none;
  font-size: 21px;
  cursor: pointer;
  font-weight: 300;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 27px 0 0;
}
.section-left-estado .form-control option {
  font-size: 16px;
}
.add-registro-link {
  background-image: url("../images/sprite.png");
  background-position: 0px 0px;
  width: 59px;
  height: 58px;
}
.add-registro-link:hover {
  background-position: -59px 0px;
}
.item-col1 span {
  display: block;
}
.item-col1 {
  padding: 20px 0 10px 25px;
  line-height: 1;
}
.item-col1 .col1-top {
  font-size: 15px;
}
.item-col1 .col1-bottom {
  font-size: 55px;
  letter-spacing: -3px;
}
.item-col1 .col1-line {
  border-right: solid 1px #ecedf2;
  padding-bottom: 28px;
  padding-right: 25px;
  padding-top: 15px;
}
.item-col2 {
  display: block;
  padding: 20px;
  padding-top: 30px;
  line-height: 1.1;
}
.item-col2 .item-span-tall {
  font-size: 25px;
  margin-right: 10px;
  font-weight: 500;
  display: block;
  clear: both;
}
.item-col2 .item-span-light {
  font-size: 20px;
  font-weight: 300;
}
.item-span-small {
  color: #bdc2c3;
  clear: both;
  float: left;
  width: 100%;
}
.item-span-light {
  clear: both;
  float: left;
  width: 100%;
}
.item-col3 {
  display: block;
  padding: 20px;
  padding-top: 30px;
  line-height: 1.1;
}
.item-col3 .form-group {
  margin-bottom: 10px;
  display: table;
}
.section-item {
  border-bottom: 1px solid #ecedf2;
  border-top: 1px solid #ecedf2;
  clear: both;
  display: table;
  padding-bottom: 20px;
  cursor: pointer;
}
.section-item:first-of-type {
  border-top: 0px;
}
.section-item .link-editar {
  right: 12px;
  top: 12px;
  position: absolute;
}
.section-item .link-eliminar {
  right: 12px;
  bottom: 20px;
  position: absolute;
}
.section-item-disabled {
  background: #f5f5f5;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  color: transparent;
  text-shadow: 0 0 3px #333;
  -webkit-box-shadow: 0 0 7px #ccc;
  box-shadow: 0 0 7px #ccc;
}
.ico-editar {
  background-image: url("../images/sprite.png");
  background-position: -209px -194px;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  cursor: pointer;
}
.link-editar {
  background-image: url("../images/sprite.png");
  background-position: -231px 0px;
  width: 16px;
  height: 16px;
}
.link-editar:hover {
  background-position: -231px -16px;
}
.link-eliminar {
  background-image: url("../images/sprite.png");
  background-position: -231px -32px;
  width: 16px;
  height: 16px;
}
.link-eliminar:hover {
  background-position: -192px -194px;
}
.mensaje-info {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -14px;
}
.fecha {
  line-height: 1;
}
.fecha .col1-bottom {
  font-size: 55px;
  letter-spacing: -3px;
}
.fecha span {
  display: block;
}
.detail-fecha {
  background-color: #05919b;
  color: #fff;
  margin-left: 56px;
  padding-top: 45px;
  width: 67px;
}
.detail-registro {
  display: block;
  line-height: 1.1;
  padding: 39px 37px 20px;
}
.detail-registro .item-span-tall {
  font-size: 35px;
  font-weight: 500;
  color: #606c76;
}
.detail-registro .item-span-light {
  color: #05919b;
  font-size: 20px;
  color: #05919b;
  font-weight: 400;
  letter-spacing: -0.9px;
}
.detail-content {
  padding: 0 26px 56px 56px;
  padding-top: 0px;
  float: left;
}
.detail-content p {
  font-weight: 300;
  color: #6b767f;
}
.content-title {
  margin-top: 30px;
}
.content-title p {
  line-height: 0.3;
}
.content-title .title-principal {
  font-size: 20px;
}
.content-text {
  margin-top: 35px;
  line-height: 0.8;
}
.content-hour p {
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
}
.content-all-hour {
  margin-top: 50px;
}
.content-person {
  margin-top: 45px;
}
.content-hour .hour {
  border-right: 2px solid #ecedf2;
  margin-right: 20px;
  height: 78px;
}
.content-hour .hour .clock {
  font-size: 30px;
  color: #05919b;
  font-weight: 500;
}
.content-hour:last-of-type .hour {
  border-right: 0px;
}
.content-person p {
  line-height: 0.3;
}
.content-description {
  margin-top: 14px;
}
.content-description p {
  line-height: 1.2;
}
.content-descriptionTB {
  margin-top: 14px;
  margin-bottom: 80px;
}
.content-descriptionTB p {
  line-height: 1.2;
}
.content-description2 {
  margin-top: 14px;
  margin-bottom: 25px;
}
.content-description2 p {
  line-height: 1.2;
}
.content-description .text-green,
.text-green {
  color: #05919b;
}
.text-sobre {
  color: #606c76;
  font-weight: normal;
}
.content-description-item {
  border: solid 1px #ecedf2;
  float: left;
  width: 100%;
  padding: 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.content-description-item p {
  line-height: 0.7;
}
.content-person .text-medium {
  font-size: 20px;
}
.content-person .text-green {
  font-size: 1.6rem;
}
.content-person .text-medium2 {
  font-size: 20px;
}
.content-view {
  padding: 21px 30px 90px 36px;
  float: left;
  width: 100%;
}
.content-view .form-group {
  float: left;
  width: 100%;
}
.control-label {
  font-size: 22px;
  font-weight: 500;
  color: #606c76;
}
.view-add-registro select,
.view-edit-registro select,
.view-detail-solicitud select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(0,0,0,0) url("../images/ic_punta_abajo.png") no-repeat scroll 93% 13px;
  border: 0 none;
  cursor: pointer;
  border: solid 1px #ccc;
  font-weight: 300;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 43px;
  width: 270px;
}
.top-label {
  background: #fff none repeat scroll 0 0;
  display: table;
  left: 13px;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  color: #606c76;
  top: -11px;
  z-index: 1;
}
.content-select {
  float: left;
  margin-top: 30px;
  width: 100%;
  padding-left: 18px;
}
.content-programing {
  margin-top: 30px;
  float: left;
  padding-left: 18px;
  width: 100%;
}
.content-programing p {
  line-height: 1;
}
.content-programing .text-text {
  margin-right: 30px;
}
.text-label {
  font-weight: 500;
  color: #606c76;
}
.block-datos-del-cliente {
  margin-top: 40px;
  float: left;
  width: 100%;
}
.block-datos-del-cliente .content-input {
  padding-left: 18px;
}
.block-datos-del-cliente input {
  height: 43px;
  width: 270px;
  font-size: 15px;
  font-weight: 300;
  display: inline;
}
.block-datos-del-cliente select {
  display: inline;
}
.view-add-registro select,
.view-edit-registro select {
  display: inline;
}
.content-select .form-group,
.block-datos-del-cliente .form-group {
  margin-bottom: 28px;
}
.form-control {
  color: #91999b;
}
.estado-user {
  display: inline-block;
  position: relative;
  padding: 5px 5px 5px 0;
}
.estado-user span {
  padding-left: 9px;
  padding-right: 20px;
}
.estado-user a,
.estado-user a:hover {
  margin-top: 0px;
}
.estado-user .icheckbox_minimal-blue {
  margin-bottom: 3px;
}
.section-item.user {
  padding-left: 11px;
}
.item-span-normal {
  font-weight: 300;
  float: left;
  width: 100%;
}
.section-item.user.full {
  padding-top: 20px;
}
.section-item.user.full .item-col3 {
  padding: 40px 20px 20px;
}
.section-left-content.section-full-estado div {
  padding-right: 10px;
  line-height: 50px;
}
.block-datos-del-usuario {
  float: left;
  width: 100%;
}
.block-datos-del-usuario .content-input {
  padding-left: 18px;
}
.block-datos-del-usuario input[type="text"],
.block-datos-del-usuario input[type="number"] {
  height: 43px;
  width: 270px;
  font-size: 15px;
  font-weight: 300;
  display: inline;
}
.block-datos-del-usuario select {
  display: inline;
}
.block-datos-del-usuario textarea {
  width: auto;
}
.modal-body {
  float: left;
  width: 100%;
}
.modal-body input {
  height: 43px;
  width: 270px;
  font-size: 15px;
  font-weight: 300;
  display: inline;
}
.modal-body .input-xs {
  width: 120px;
}
.modal-body select {
  display: inline;
}
.modal-body textarea {
  width: auto;
}
.content-select .form-group,
.block-datos-del-usuario .form-group,
.modal-body .content-input .form-group {
  margin-bottom: 28px;
  display: inline-block;
}
.form-group.from-group-bottom {
  margin-bottom: 3px;
}
.link-change-password,
.link-change-password:hover {
  margin-left: 18px;
  color: #05919b;
  text-decoration: underline;
}
.view-detail {
  position: absolute;
  width: 100%;
  height: 100%;
}
.view-detail .col-xs-12 .content-view {
  height: 100%;
  display: table;
}
#assistance-edit .modal-body .form-group {
  position: relative;
}
#assistance-edit .modal-body .input-xs-left {
  margin-right: 30px;
}
.pull-right.btn-bottom {
  bottom: 20px;
  right: 20px;
  height: inherit;
  padding: 8px;
}
.float-none {
  float: none;
  margin-right: 10px;
}
.form-groups-block {
  margin-top: 40px;
  float: left;
}
.btn-estado.btn-estado-ocupado {
  background: #91999b;
  border-color: #91999b;
}
.content-item-span .item-span {
  padding: 5px 25px;
  border: solid 1px #05919b;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 15px;
}
.label-ott .label-redoscuro .label-text {
  color: #bc0404;
}
.label-ott .label-text {
  padding-right: 15px;
  font-weight: bold;
  color: #606c76;
}
.detail-registro-agente {
  padding-left: 56px;
}
.item-span-light-agente {
  margin-top: 10px;
  margin-bottom: 5px;
}
.span-bold {
  font-weight: bold;
  color: #606c76;
}
.label-content {
  padding-right: 35px;
}
.label-redoscuro {
  color: #bc0404;
}
.conten-description-agente {
  margin-top: 40px;
}
.conten-description-aerolineas {
  margin-top: 25px;
}
.content-select-agente {
  margin-top: 15px;
}
.pagination {
  padding-right: 20px;
}
.pagination .number,
.pagination .next-page,
.pagination .first-page,
.pagination .previous-page,
.pagination .last-page {
  display: inline-block;
  background: #606c76;
  padding: 2px 8px 2px 8px;
  color: #fff;
  font-size: 14px;
}
.pagination .number.current {
  background: #05919b;
}
.pagination-item {
  list-style: none;
}
.pagination-item .item-btn {
  display: inline-block;
  background: #606c76;
  padding: 2px 8px 2px 8px;
  color: #fff;
  font-size: 14px;
}
.pagination-item .item-btn.item-btn-active {
  background: #05919b;
}
.datepicker {
  background: url("../images/ic_calendario.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.form-control.input-500 {
  width: 500px !important;
}
.form-control.input-150 {
  width: 150px !important;
}
.form-control.input-50 {
  width: 50px !important;
}
.content-input-col3 .form-group {
  width: auto;
  padding-right: 25px;
}
.form-group.alerta .top-label {
  color: #bc0404;
}
.form-group.alerta .form-control {
  border: 1px solid #bc0404;
  color: #bc0404;
  font-weight: bold;
}
.content-option {
  border: solid 1px #ecedf2;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.content-option table {
  margin: 20px;
}
.content-option table tr td {
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1;
}
.option-span {
  padding: 50px 30px;
  line-height: 25px;
  display: inline-block;
}
.option-span span {
  float: left;
  width: 100%;
  line-height: 1.2;
}
.content-space {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  width: 1000%;
}
.table-select-input select,
.table-select-input select:hover,
.table-select-input select:active,
.table-select-input select:focus {
  border: none;
  padding-right: 50px;
  text-align: right;
  width: 150px;
}
.table-select-input {
  display: inline-block;
  height: 35px;
}
.color-light {
  color: #ecedf2;
}
.item-col2.alerta {
  margin-top: 14px;
  padding-top: 5px;
  padding-bottom: 7px;
}
.item-col2.right-col {
  padding-left: 30px;
  border-left: solid 1px #ecedf2;
}
.content-alert {
  display: inline-block;
  padding-bottom: 40px;
}
.content-alert.alert-left {
  padding-right: 50px;
  border-right: solid 1px #ecedf2;
}
.content-alert.alert-right {
  padding-left: 50px;
}
.item-span-normal.span-alerta {
  margin-left: -10px;
  margin-bottom: 10px;
}
.label-left {
  margin-left: 25px;
  margin-top: -13px;
}
.col-3-center {
  margin-top: 12px;
  margin-bottom: 2px;
  margin-right: -15px;
}
.form-control.textarea-full {
  width: 100%;
}
.content-input-num {
  padding-left: 50px;
  display: inline-block;
  position: relative;
}
.content-input-num h1 {
  position: absolute;
  left: 10px;
  top: 5px;
}
.form-310 {
  width: 310px;
}
.form-190 {
  width: 190px;
}
.form-130 {
  width: 130px;
}
.form-150 {
  width: 150px;
}
.form-70 {
  width: 70px;
}
.form-550 {
  width: 550px !important;
}
.btninput .dropdown-toggle,
.btninput .dropdown-toggle:hover,
.btninput .dropdown-toggle:active,
.btninput .dropdown-toggle:link {
  display: inline;
  font-size: 15px;
  font-weight: 300;
  height: 43px;
  text-align: left;
  width: 270px;
  background: transparent !important;
  z-index: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
  color: #91999b;
}
.btninput .multiselect-selected-text {
  text-transform: initial;
}
.content-bottom-btn {
  background: rgba(255,255,255,0.75);
  border-top: 1px solid #f1f1f1;
  bottom: 0;
  display: table;
  right: 0;
  position: fixed;
  margin-left: 5px;
  width: calc(100% - 60px);
  z-index: 2;
}
.mpErrors {
  margin-top: 3.125em;
  margin-bottom: 3.125em;
}
.mpErrors a {
  margin-top: 2.5em;
  color: #fff;
}
.mpErrors a:hover {
  color: #fff;
}
.mpErrors a:focus {
  color: #fff;
}
.mpErrors p {
  margin-top: 1.875em;
  color: #123a67;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}
.mpErrors h3 {
  color: #123a67;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.mpErrors .hBig {
  font-size: 85px;
  color: #123a67;
  font-weight: bold;
  line-height: 65px;
}
.mpErrors .hMedium {
  font-size: 23px;
  color: #123a67;
  font-weight: bold;
  line-height: 40px;
}
.mpErrors .hMedium2 {
  font-size: 30px;
  color: #123a67;
  font-weight: bold;
  line-height: 40px;
}
.mpErrors .hShort {
  color: #123a67;
  font-weight: bold;
  line-height: 40px;
}
.center-btnError {
  width: 300px;
  display: table;
  margin-right: auto;
  margin-left: auto;
}
.btn-errors {
  background-color: #05919b;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.grid_aerolinea-19 {
  min-height: 650px;
}
.error_aerolinea-13 {
  margin-top: 4.063em;
  margin-bottom: 4.063em;
}
.error_aerolinea-13 h1,
.error_aerolinea-13 h2,
.error_aerolinea-13 h3,
.error_aerolinea-13 h4,
.error_aerolinea-13 h5 {
  color: #123a67;
  font-weight: bold;
}
.error_aerolinea-13 p {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.historial-table {
  padding-left: 50px;
  padding-right: 50px;
}
.historial-pagination {
  padding-left: 50px;
  padding-right: 50px;
}
.historial {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 4%;
  width: calc(100% - 7.5%);
}
.historial input {
  height: 43px;
}
.historial select {
  height: 43px;
}
.historial button {
  height: 43px;
  text-transform: capitalize;
  font-size: 15px;
  color: #fff;
}
.historial button:hover {
  color: #fff;
}
.historial button:focus {
  color: #fff;
}
.historial .btn-filtro {
  background-color: #000f4b;
  width: 100px;
  margin-left: 40%;
}
.historial .btn-exportar {
  background-color: #05919b;
  width: 130px;
  margin-left: 31%;
}
.historial .search_Historial {
  background-image: url("../images/ic_buscar.png");
  background-repeat: no-repeat;
  background-position: 150px center;
  padding-left: 19px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.historial-select {
  background: rgba(0,0,0,0) url("../images/ic_punta_abajo.png") no-repeat scroll 93% 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-group div:nth-child(1n+2) {
  margin-left: 3%;
}
.hrShow {
  width: 93%;
  background: #05919b;
  height: 2px;
  overflow: hidden;
}
#theadBg {
  background: #f2f2f2;
  border: none;
  color: #606c76;
}
.table .content-description-table {
  border: solid 1px #ecedf2;
  overflow-y: scroll;
  height: 80px;
  width: 100% !important;
  position: absolute;
}
.table .content-description-table tr td {
  line-height: 14px !important;
}
.table .content-description-table > tr {
  display: inline-table;
  width: 100%;
}
.table .content-description-table > tr > td {
  border-top: none;
  line-height: 6px;
}
.table thead th {
  cursor: pointer;
}
.table thead > tr > th {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.map {
  width: 100%;
  height: 100%;
}
.detalle-agente {
  width: 507px;
  position: absolute;
  background: #fff;
  z-index: 9;
  margin-left: 32px;
  margin-top: 15px;
}
.detail-fecha-agente {
  background-color: #05919b;
  color: #fff;
  margin-left: 24px;
  padding-bottom: 15px;
  padding-top: 51px;
  width: 86px;
}
.b {
  height: 17px;
  display: block;
  width: 17px;
  margin-right: 10px;
  margin-top: 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.title-principal.ti-blu {
  color: #000f4b;
  font-weight: 500;
  font-size: 18px;
}
.title-principal.ti-gre {
  color: #05919b;
  font-weight: 500;
  font-size: 18px;
}
.title-principal.ti-blu > span {
  font-size: 1.6rem;
  color: #91999b;
}
.title-principal.ti-gre > span {
  font-size: 1.6rem;
  color: #91999b;
}
.bred {
  background: #c1272d;
}
.bgrren {
  background: #05919b;
}
.lineal-nom {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-size: 13px;
  margin-top: 3px;
}
.detail-content-agente {
  float: left;
  padding: 0 26px 56px 24px;
  width: 100%;
}
.detail-content-agente .content-title {
  overflow: hidden;
}
.detail-content-agente .content-title .blo {
  margin-bottom: 20px;
}
.detail-content-agente .content-title .blo p {
  line-height: 0.05;
}
.blo .detail-registro {
  padding: 0px;
}
.num_agentes {
  color: #05919b;
  font-weight: 500;
  margin-top: 10px;
  display: block;
}
.filtro_search {
  padding: 30px;
}
.filtro_search .search_Historial {
  background-image: url("../images/ic_buscar.png");
  background-repeat: no-repeat;
  background-position: 150px center;
  padding-left: 19px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.filtro_search input,
.filtro_search select,
.filtro_search button {
  height: 43px;
}
.filtro_search .btn-filtro {
  background-color: #000f4b;
  margin-left: 40%;
  width: 100px;
  color: #fff;
}
.btn_mostrar_panel {
  width: 40px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  height: 16px;
  position: absolute;
  top: 0px;
  background: #fff url("../images/ic_punta_abajo_black.png") no-repeat scroll center center;
  z-index: 999;
  right: 7%;
  cursor: pointer;
}
.btn_ocultar_panel {
  width: 40px;
  height: 16px;
  position: absolute;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  bottom: -16px;
  background: #fff url("../images/ic_punta_arriba_black.png") no-repeat scroll center center;
  z-index: 999;
  right: 3.4%;
  cursor: pointer;
}
.closex,
.closex:hover {
  font-size: 35px;
  color: #606c76;
  position: absolute;
  right: 10px;
  top: 10px;
}
.btn-agente,
.btn-agente:hover,
.btn-agente:focus {
  background: #000f4b !important;
  color: #fff !important;
}
.btn-agente-green,
.btn-agente-green:hover {
  background: #05919b !important;
  color: #fff !important;
}
.foot-btn {
  margin-top: 70px;
  overflow: hidden;
}
.dashboard {
  margin-top: 50px;
}
.dashboard .dashboard-agents {
  border-right: 1px solid #c0c0c0;
}
.dashboard .dashboard-agents #chartAgents {
  margin-top: -20px;
  height: 300px;
  width: 60%;
}
.dashboard-service2 {
  margin-top: 50px;
}
.dsb {
  border-top: 1px solid #c0c0c0;
  margin-top: 50px;
  margin-bottom: 50px;
}
.bSize1 {
  font-size: 45px;
}
.btn-dash1 {
  background: #ecf0f1;
  color: #808080;
  width: 80%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  border: none;
}
.btn-dash2 {
  background: #808080;
  color: #fff;
  width: 80%;
  padding: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
}
.btn-aplicar {
  background-color: #05919b;
  width: 86px;
  color: #fff;
}
.btn-aplicar:hover {
  color: #fff;
}
.canvasjs-chart-credit {
  display: none;
}
.fM {
  margin-left: 7%;
}
.pM {
  margin-left: 25%;
}
#chartService {
  height: 200px;
  width: 50%;
}
#chartContainer {
  height: 300px;
  width: 80%;
}
.modal-medium2 {
  width: 600px;
}
.modalM3 {
  width: 65%;
}
.closeBtn button {
  margin-top: 8px;
}
#borderComment {
  border: 1px solid #c0c0c0;
}
.pCaja {
  padding: 14px;
}
.dropdown-menu {
  font-size: 16px;
  background: #ecf0f1;
  color: #000;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-left: 60px;
  min-width: 130px;
  top: 41px;
}
.dropdown-menu > li > a {
  margin-top: 5px;
  margin-bottom: 5px;
}
.dropdown-menu > li > a:hover {
  background: transparent;
}
.txtGreen {
  font-weight: none;
  color: #05919b;
}
.container-fluid {
  margin-left: 4%;
}
.buttonsDash .btn-dash1:nth-child(3) {
  margin-top: 8px;
  margin-bottom: 8px;
}
.reportabs {
  margin-top: 35px;
  margin-bottom: 15px;
  margin-left: 4%;
}
.reportabs a {
  font-weight: 500;
  color: #c0c0c0;
}
.reportabs .activeReport {
  color: #05919b;
}
.hrShow2 {
  width: 93%;
  background: #05919b;
  height: 2px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  overflow: hidden;
}
.passwordNew {
  color: #05919b !important;
  font-weight: 500 !important;
  font-size: 13.5px;
}
.passwordNew2 {
  color: #05919b !important;
  font-weight: 500 !important;
}
#bodyContent p,
#bodyContent1 p {
  margin: 0px;
  font-size: 17px;
}
#bodyContent h1 {
  color: #05919b;
  font-size: 13px;
  font-weight: 700;
}
#bodyContent1 h1 {
  color: #000f4b;
  font-size: 13px;
  font-weight: 700;
}
.detalle-agente.ocul {
  margin-left: -600px;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -o-transition: all 0.9s;
  -ms-transition: all 0.9s;
  transition: all 0.9s;
}
@media only screen and (min-width: 1900px) {
  .pM {
    margin-left: 35%;
  }
  .fM {
    margin-left: 26%;
  }
}
@media only screen and (max-width: 1220px) {
  .content-bottom-btn {
    position: absolute;
  }
}
@media only screen and (max-height: 840px) {
  .navbar-static-side {
    position: absolute;
    height: auto;
  }
}
