<form class="col-xs-12 section-config">
    <aside class="config-language">
      <span class="green">Español</span>
      <span class="language-separator gray">|</span>
      <span class="gray">Inglés</span>
    </aside>

    <div class="col-xs-12 block-container box-shadow">
        <div class="col-xs-6 config-block">
            <h3 class="col-xs-12 gray config-title">Tiempo de envío de servicios:</h3>
            <div class="col-xs-3 gray">
                <input class="spinner-time" type="text" value="26">
            </div>
            <div class="col-xs-9 dark-gray config-text">
                Envía una solicitud en estado de pendiente a todos los agentes minutos antes de que se realice el servicio.
            </div>
        </div>
        <div class="col-xs-6 config-block">
            <h3 class="col-xs-12 gray config-title">Tiempo de espera de aceptación de servicios:</h3>
            <div class="col-xs-3 gray">
                <input class="spinner-time" type="text" value="26">
            </div>
            <div class="col-xs-9 dark-gray config-text">
                Envía una solicitud en estado de pendiente a todos los agentes minutos antes de que se realice el servicio.
            </div>
        </div>
    </div>

    <div class="col-xs-12 block-container box-shadow">
        <div class="col-xs-4 config-block">
            <h3 class="col-xs-12 gray config-title">Configuración de sillas:</h3>

            <div class="col-xs-3 gray">
                <input class="spinner-amount" type="text" value="26">
            </div>
            <div class="col-xs-9 dark-gray config-text">
                Envía una solicitud en estado de pendiente a todos los agentes minutos antes de que se realice el servicio.
            </div>
        </div>
        <div class="col-xs-4 config-block">
            <div class="col-xs-3 gray">
                <input class="spinner-amount" type="text" value="26">
            </div>
            <div class="col-xs-9 dark-gray config-text">
                Envía una solicitud en estado de pendiente a todos los agentes minutos antes de que se realice el servicio.
            </div>
        </div>
        <div class="col-xs-4 config-block">
            <div class="col-xs-3 gray">
                <input class="spinner-amount" type="text" value="26">
            </div>
            <div class="col-xs-9 dark-gray config-text">
                Envía una solicitud en estado de pendiente a todos los agentes minutos antes de que se realice el servicio.
            </div>
        </div>
        <div class="col-xs-4 config-block">
            <div class="col-xs-3 gray">
                <input class="spinner-amount" type="text" value="26">
            </div>
            <div class="col-xs-9 dark-gray config-text">
                Envía una solicitud en estado de pendiente a todos los agentes minutos antes de que se realice el servicio.
            </div>
        </div>
        <div class="col-xs-4 config-block">
            <div class="col-xs-3 gray">
                <input class="spinner-amount" type="text" value="26">
            </div>
            <div class="col-xs-9 dark-gray config-text">
                Envía una solicitud en estado de pendiente a todos los agentes minutos antes de que se realice el servicio.
            </div>
        </div>
        <div class="col-xs-4 config-block">
            <div class="col-xs-3 gray">
                <input class="spinner-amount" type="text" value="26">
            </div>
            <div class="col-xs-9 dark-gray config-text">
                Envía una solicitud en estado de pendiente a todos los agentes minutos antes de que se realice el servicio.
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <h3 class="col-xs-12 gray table-title">Bloques de asistencia:</h3>

        <table class="table config-table">
            <thead>
                <tr>
                    <th colspan="3" class="text-right">
                        Registrar Nuevo bloque
                        <span class="green plus-ico">+</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="gray">
                        Nocturno
                    </td>
                    <td class="gray">
                        Desde: 06:00 Hrs hasta 18:00 Hrs
                    </td>
                    <td class="text-right">
                        <a class="ico link-editar"></a>
                        <a class="ico link-eliminar"></a>
                    </td>
                </tr>
                <tr>
                    <td class="gray">
                        Diurno
                    </td>
                    <td class="gray">
                        Desde: 06:00 Hrs hasta 18:00 Hrs
                    </td>
                    <td class="text-right">
                        <a class="ico link-editar"></a>
                        <a class="ico link-eliminar"></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="submit" class="btn btn-green btn-medium pull-right">
          Guardar
        </button>
    </div>
</form>
