<div class="col-xs-12">

  <!--LEFT -->

  <div class="section-left col-xs-6">
    <div class="section-left-content col-xs-12">
      <div class="section-left-searching col-xs-7">
        <input class="searching-input form-control" type="text" placeholder="Buscar">
      </div>
      <div class="col-xs-5 text-right">
        <div class="section-left-estado ">
          <select class="form-control" name="estado" id="estado">
            <option disabled selected>Estado</option>
            <option value="en progreso">En progreso</option>
            <option value="pendiente">Pendiente</option>
          </select>
        </div>
        <div class="section-left-add-registro">
          <a class="add-registro-link" href="#">
          </a>
        </div>
      </div>
    </div>
    <div class="listado-item">
      <div class="section-item col-xs-12">
        <div class="item-col1 col-xs-2 text-center">
          <div class="col1-line">
            <span class="col1-top">Puerta</span>
            <span class="col1-bottom">19</span>
          </div>
        </div>
        <div class="item-col2 col-xs-5">
          <span class="item-span-small"><small>Vuelo</small></span>
          <span class="item-span-tall">Av-9375</span>
          <span>Avianca Airlines</span>
          <span class="item-span-light">Silla Tradicional</span>
          <br>
          <a class="btn btn-default btn-estado btn-xs" type="button">En progreso</a>
        </div>
        <div class="item-col3 col-xs-5">
          <div class="form-group">
            <span class="item-span-small"><small>Cliente</small></span>
            <span class="item-span-normal">Andrés Briceño Masias</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Llegada</small></span>
            <span class="item-span-normal">20/02/2016 a las 20:13 hrs.</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item col-xs-12">
        <div class="item-col1 col-xs-2 text-center">
          <div class="col1-line">
            <span class="col1-top">Puerta</span>
            <span class="col1-bottom">19</span>
          </div>
        </div>
        <div class="item-col2 col-xs-5">
          <span class="item-span-small"><small>Vuelo</small></span>
          <span class="item-span-tall">Av-9375</span>
          <span>Avianca Airlines</span>
          <span class="item-span-light">Silla Tradicional</span>
          <br>
          <a class="btn btn-default btn-estado btn-xs" type="button">En progreso</a>
        </div>
        <div class="item-col3 col-xs-5">
          <div class="form-group">
            <span class="item-span-small"><small>Cliente</small></span>
            <span class="item-span-normal">Andrés Briceño Masias</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Llegada</small></span>
            <span class="item-span-normal">20/02/2016 a las 20:13 hrs.</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item col-xs-12">
        <div class="item-col1 col-xs-2 text-center">
          <div class="col1-line">
            <span class="col1-top">Puerta</span>
            <span class="col1-bottom">19</span>
          </div>
        </div>
        <div class="item-col2 col-xs-5">
          <span class="item-span-small"><small>Vuelo</small></span>
          <span class="item-span-tall">Av-9375</span>
          <span>Avianca Airlines</span>
          <span class="item-span-light">Silla Tradicional</span>
          <br>
          <a class="btn btn-default btn-estado btn-xs" type="button">En progreso</a>
        </div>
        <div class="item-col3 col-xs-5">
          <div class="form-group">
            <span class="item-span-small"><small>Cliente</small></span>
            <span class="item-span-normal">Andrés Briceño Masias</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Llegada</small></span>
            <span class="item-span-normal">20/02/2016 a las 20:13 hrs.</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item col-xs-12">
        <div class="item-col1 col-xs-2 text-center">
          <div class="col1-line">
            <span class="col1-top">Puerta</span>
            <span class="col1-bottom">19</span>
          </div>
        </div>
        <div class="item-col2 col-xs-5">
          <span class="item-span-small"><small>Vuelo</small></span>
          <span class="item-span-tall">Av-9375</span>
          <span>Avianca Airlines</span>
          <span class="item-span-light">Silla Tradicional</span>
          <br>
          <a class="btn btn-default btn-estado btn-xs" type="button">En progreso</a>
        </div>
        <div class="item-col3 col-xs-5">
          <div class="form-group">
            <span class="item-span-small"><small>Cliente</small></span>
            <span class="item-span-normal">Andrés Briceño Masias</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Llegada</small></span>
            <span class="item-span-normal">20/02/2016 a las 20:13 hrs.</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>


      <div class="section-item col-xs-12">
        <div class="item-col1 col-xs-2 text-center">
          <div class="col1-line">
            <span class="col1-top">Puerta</span>
            <span class="col1-bottom">19</span>
          </div>
        </div>
        <div class="item-col2 col-xs-5">
          <span class="item-span-small"><small>Vuelo</small></span>
          <span class="item-span-tall">Av-9375</span>
          <span>Avianca Airlines</span>
          <span class="item-span-light">Silla Tradicional</span>
          <br>
          <a class="btn btn-default btn-estado btn-xs" type="button">En progreso</a>
        </div>
        <div class="item-col3 col-xs-5">
          <div class="form-group">
            <span class="item-span-small"><small>Cliente</small></span>
            <span class="item-span-normal">Andrés Briceño Masias</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Llegada</small></span>
            <span class="item-span-normal">20/02/2016 a las 20:13 hrs.</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item col-xs-12">
        <div class="item-col1 col-xs-2 text-center">
          <div class="col1-line">
            <span class="col1-top">Puerta</span>
            <span class="col1-bottom">19</span>
          </div>
        </div>
        <div class="item-col2 col-xs-5">
          <span class="item-span-small"><small>Vuelo</small></span>
          <span class="item-span-tall">Av-9375</span>
          <span>Avianca Airlines</span>
          <span class="item-span-light">Silla Tradicional</span>
          <br>
          <a class="btn btn-default btn-estado btn-xs" type="button">En progreso</a>
        </div>
        <div class="item-col3 col-xs-5">
          <div class="form-group">
            <span class="item-span-small"><small>Cliente</small></span>
            <span class="item-span-normal">Andrés Briceño Masias</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Llegada</small></span>
            <span class="item-span-normal">20/02/2016 a las 20:13 hrs.</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>
      <div class="pagination pull-right">
        <ul class="pagination-item">
          <li class="item-btn">1</li>
          <li class="item-btn item-btn-active">2</li>
          <li class="item-btn">3</li>
          <li class="item-btn">Siguiente</li>
        </ul>
      </div>
    </div>
  </div>


  <!--RIGHT-->

  <div class="section-right col-xs-6">
    <div class="view-detail">

      <!--- Adm_web_US2.png -->
      <div class="view-detail-vacio">
        <div class=" mensaje-info text-center">
          Selecione una solicitud para visualizar o editar
        </div>
      </div>
      <!-- the end--->

      <!--- Adm_web_US3.png -->
      <div class="col-xs-12 view-detail-solicitud hidden">
        <div class="fecha col-xs-2 text-center">
          <div class="detail-fecha">
            <span class="col1-top">Puerta</span>
            <span class="col1-bottom">19</span>
          </div>
        </div>
        <div class="detail-registro col-xs-10">
          <span class="item-span-small">Vuelo</span>
          <span class="item-span-tall">Av-9375</span>
          <span class="item-span-light">Silla Tradicional</span>
        </div>
        <div class="detail-content">
          <div class="content-title">
            <p class="title-principal">Avianca Airlines</p>
            <p>Vuelo Nacional</p>
          </div>
          <div class="content-text">
            <p><span class="ico ic_llegada"></span>LLegada 20/02/2016 a las 20:13 hrs. <span class="text-green">Retrasado</span></p>
            <p>Origen/Destino : Aeropuerto Internacional El Alto <span class="text-sobre">(LPB)</span></p>
            <p>Conexión: No tiene</p>
          </div>
          <div class="content-all-hour col-xs-12">
            <div class="content-hour col-xs-4">
              <div class="hour">
                <p>Hora</p>
                <p>Programada :</p>
                <p class="clock">20:00 Hrs</p>
              </div>
            </div>
            <div class="content-hour col-xs-4">
              <div class="hour">
                <p>Hora</p>
                <p>Estimada :</p>
                <p class="clock">20:00 Hrs</p>
              </div>
            </div>
            <div class="content-hour col-xs-4">
              <div class="hour">
                <p>Hora</p>
                <p>Liberada :</p>
                <p class="clock">20:00 Hrs</p>
              </div>
            </div>
          </div>
          <div class="content-person col-xs-12">
            <div class="col-xs-5">
              <p>Cliente</p>
              <p class="text-medium">Andrés Briceño Masías</p>
            </div>
            <div class="col-xs-6">
              <p>Agente</p>
              <p class="text-medium">José Galvez Mata <span class="text-green">En camino</span></p>
              <p class="text-medium">Andrea Piñaren <span class="text-green">Atendiendo pasajero</span></p>
            </div>
          </div>
          <div class="content-description col-xs-12">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            <div class="content-description col-xs-6">
              <p>Solicitado : <span class="text-green">José Galvez Mata</span></p>
            </div>
            <div class="content-description col-xs-6">
              <p>Editado : <span class="text-green">Sergio Paco Ramirez</span></p>
            </div>
          </div>
          <div class="content-description col-xs-12">
            <div class="col-xs-8"><span class="text-green">Alertas</span></div>
            <div class="col-xs-4">Agente</div>
            <div class="content-description-item">
              <div class="col-xs-8">
                <p>24/04/2015 20:10 hrs Vuelo llego con retraso</p>
                <p>24/04/2015 20:10 hrs Agente en sitio</p>
                <p>24/04/2015 20:10 hrs PMR Atendido</p>
              </div>
              <div class="col-xs-4">
                <p class="text-green">José Galvez Mata</p>
                <p class="text-green">José Galvez Mata</p>
                <p class="text-green">José Galvez Mata</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- the end--->

      <!--- Adm_web_US4.png-->
      <div class="col-xs-12 view-add-registro hidden">
        <div class="content-view">

          <form action="">
            <!--selecione fecha-->
            <div class="block-seleccione-fecha">
              <div class="form-group">
                <label class="col-xs-5 control-label">Seleccione la fecha :</label>
                <div class="col-xs-7">
                  <label class="checkbox-inline">
                    <input type="radio" name="same"><span class="tooltip-ott-center" title="03/03/2016"> Hoy</span>
                  </label>
                  <label class="checkbox-inline">
                    <input type="radio" name="same"> Mañana
                  </label>
                </div>
              </div>
              <div class="content-select">
                <div class="form-group">
                  <div class="col-xs-4">
                    <label class="top-label">Aerolínea</label>
                    <select class="form-control">
                      <option disabled selected>Seleccione Aerolínea</option>
                      <option value="uno">uno</option>
                      <option value="dos">dos</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-4">
                    <label class="top-label">Número de vuelo</label>
                    <select class="form-control">
                      <option disabled selected>Seleccione el número de vuelo</option>
                      <option value="uno">uno</option>
                      <option value="dos">dos</option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="content-programing">
                <div class="form-group">
                  <p>
                    <span class="text-label">Hora Programada:</span>
                    <span class="text-text">00:00 Hrs Hora</span>
                    <span class="text-label">Estimada: </span>
                    <span class="text-text">00:00 Hrs</span>
                    <span class="text-label"> Puerta: </span>
                    <span class="text-text">00</span></p>
                  <p>
                    <span class="text-label">Nacional/Internacional :</span>
                    <span class="text-text">Indique vuelo </span>
                    <span class="text-label">Llegada/Salida : </span>
                    <span class="text-text"> Indique vuelo</span>
                  </p>
                  <p>
                    <span class="text-label">Origen/Destino :</span>
                    <span class="text-text"> Indique vuelo</span>
                  </p>
                </div>
              </div>
            </div>
            <!--the end-->

            <!--Datos del cliente-->
            <div class="block-datos-del-cliente">
              <div class="form-group">
                <label class="col-xs-5 control-label">Datos del Cliente :</label>
              </div>
              <div class="content-input">
                <div class="form-group">
                  <div class="col-xs-4">
                    <label class="top-label">Nombre :</label>
                    <input type="text" class="form-control" placeholder="Indique Nombre">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-4">
                    <label class="top-label">Apellidos :</label>
                    <input type="text" class="form-control" placeholder="Indique Nombre">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-4">
                    <label class="top-label">Tipo de Silla :</label>
                    <select class="form-control">
                      <option>Seleccione el número de vuelo</option>
                      <option></option>
                      <option></option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-4">
                    <label class="top-label">Conexión :</label>
                    <input type="text" class="form-control" placeholder="Indique Nombre">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-9">
                    <label class="top-label">Comentario :</label>
                    <textarea rows="4" type="text" class="form-control" placeholder="Ingrese comentarios"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <!--the end-->
          </form>
        </div>

        <div class="content-bottom-btn">
          <div class="pull-right btn-bottom">
            <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
            <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
          </div>
        </div>

      </div>
      <!-- the end -->

      <!--- Adm_web_US5.png-->
      <div class="col-xs-12 view-edit-registro hidden">
        <div class="content-view">

          <form action="">
            <!--selecione fecha-->
            <div class="block-seleccione-fecha">
              <div class="form-group">
                <label class="col-xs-5 control-label">Seleccione la fecha :</label>
                <div class="col-xs-7">
                  <label class="checkbox-inline">
                    <input type="radio" value=""> Hoy</label>
                  <label class="checkbox-inline">
                    <input type="radio" value=""> Mañana</label>
                </div>
              </div>
              <div class="content-select">
                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Aerolínea</label>
                    <select class="form-control">
                      <option>Seleccione Aerolínea</option>
                      <option></option>
                      <option></option>
                    </select>
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Número de vuelo</label>
                    <select class="form-control">
                      <option>Seleccione el número de vuelo</option>
                      <option></option>
                      <option></option>
                    </select>
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

              </div>
              <div class="content-programing">
                <div class="form-group">
                  <p>
                    <span class="text-label">Hora Programada:</span>
                    <span class="text-text">20:00 Hrs</span>
                    <span class="text-label">Estimada: </span>
                    <span class="text-text">20:13 Hrs</span>
                    <span class="text-label"> Puerta: </span>
                    <span class="text-text">19</span></p>
                  <p>
                    <span class="text-label">Nacional/Internacional :</span>
                    <span class="text-text">Nacional </span>
                    <span class="text-label">Llegada/Salida : </span>
                    <span class="text-text"> Llegada</span>
                  </p>
                  <p>
                    <span class="text-label">Origen/Destino :</span>
                    <span class="text-text">Aeropuerto Internacional El Alto (LPB)</span>
                  </p>
                </div>
              </div>
            </div>
            <!--the end-->

            <!--Datos del cliente-->
            <div class="block-datos-del-cliente">
              <div class="form-group">
                <label class="col-xs-5 control-label">Datos del Cliente :</label>
              </div>
              <div class="content-input">
                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Nombre :</label>
                    <input type="text" class="form-control" value="Derick Mathias" placeholder="Indique Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Apellidos :</label>
                    <input type="text" class="form-control" value="Machuca Mendoza" placeholder="Indique Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Tipo de Silla :</label>
                    <select class="form-control">
                      <option>Seleccione el número de vuelo</option>
                      <option></option>
                      <option></option>
                    </select>
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Conexión :</label>
                    <input type="text" class="form-control" value="Si existe conexion" placeholder="Indique Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-9">
                    <label class="top-label">Comentario :</label>
                    <textarea rows="4" type="text" class="form-control" placeholder="Indique Nombre">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    </textarea>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <p>Solicitado : <span class="text-green">José Galvez Mata</span></p>
                </div>
              </div>

            </div>
            <!--the end-->

            <div class="content-bottom-btn">
              <div class="pull-right btn-bottom">
                <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
                <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
              </div>
            </div>

          </form>
        </div>
      </div>
      <!-- the end -->
    </div>
  </div>

</div>
