<div class="col-xs-12">

  <!--LEFT -->

  <div class="section-left col-xs-6">
    <div class="section-left-content col-xs-12">
      <div class="section-left-searching col-xs-7">
        <input class="searching-input form-control" type="text" placeholder="Buscar">
      </div>
      <div class="col-xs-5 text-right">
        <div class="section-left-estado ">
          <select class="form-control" name="estado" id="estado">
            <option>Estado</option>
            <option value="En progreso">En progreso</option>
            <option value="Pendiente">Pendiente</option>
          </select>
        </div>
        <div class="section-left-add-registro">
          <a class="add-registro-link" href="#">
          </a>
        </div>
      </div>
    </div>
    <div class="listado-item scrollbox">
      <div class="section-item user col-xs-12">
        <div class="item-col2 col-xs-6">
          <span class="item-span-small"><small>Aerolínea</small></span>
          <span class="item-span-tall">Avianca Airlines</span>
          <span class="item-span-light float-none">Avianca peru S.A.C</span>
          <br>
          <div class="estado-user">
            <input type="checkbox" checked="checked"><span>Activo</span>
          </div>
        </div>
        <div class="item-col3 col-xs-6">
          <div class="form-group">
            <span class="item-span-small"><small>RUC</small></span>
            <span class="item-span-normal">20100055237</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Representante Legal</small></span>
            <span class="item-span-normal">José Jimenez Suarez</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item user col-xs-12">
        <div class="item-col2 col-xs-6">
          <span class="item-span-small"><small>Aerolínea</small></span>
          <span class="item-span-tall">Avianca Airlines</span>
          <span class="item-span-light float-none">Avianca peru S.A.C</span>
          <br>
          <div class="estado-user">
            <input type="checkbox" checked="checked"><span>Activo</span>
          </div>
        </div>
        <div class="item-col3 col-xs-6">
          <div class="form-group">
            <span class="item-span-small"><small>RUC</small></span>
            <span class="item-span-normal">20100055237</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Representante Legal</small></span>
            <span class="item-span-normal">José Jimenez Suarez</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item user col-xs-12">
        <div class="item-col2 col-xs-6">
          <span class="item-span-small"><small>Aerolínea</small></span>
          <span class="item-span-tall">Avianca Airlines</span>
          <span class="item-span-light float-none">Avianca peru S.A.C</span>
          <br>
          <div class="estado-user">
            <input type="checkbox" checked="checked"><span>Activo</span>
          </div>
        </div>
        <div class="item-col3 col-xs-6">
          <div class="form-group">
            <span class="item-span-small"><small>RUC</small></span>
            <span class="item-span-normal">20100055237</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Representante Legal</small></span>
            <span class="item-span-normal">José Jimenez Suarez</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item user col-xs-12">
        <div class="item-col2 col-xs-6">
          <span class="item-span-small"><small>Aerolínea</small></span>
          <span class="item-span-tall">Avianca Airlines</span>
          <span class="item-span-light float-none">Avianca peru S.A.C</span>
          <br>
          <div class="estado-user">
            <input type="checkbox" checked="checked"><span>Activo</span>
          </div>
        </div>
        <div class="item-col3 col-xs-6">
          <div class="form-group">
            <span class="item-span-small"><small>RUC</small></span>
            <span class="item-span-normal">20100055237</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Representante Legal</small></span>
            <span class="item-span-normal">José Jimenez Suarez</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item user col-xs-12">
        <div class="item-col2 col-xs-6">
          <span class="item-span-small"><small>Aerolínea</small></span>
          <span class="item-span-tall">Avianca Airlines</span>
          <span class="item-span-light float-none">Avianca peru S.A.C</span>
          <br>
          <div class="estado-user">
            <input type="checkbox" checked="checked"><span>Activo</span>
          </div>
        </div>
        <div class="item-col3 col-xs-6">
          <div class="form-group">
            <span class="item-span-small"><small>RUC</small></span>
            <span class="item-span-normal">20100055237</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Representante Legal</small></span>
            <span class="item-span-normal">José Jimenez Suarez</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="pagination pull-right">
        <ul class="pagination-item">
          <li class="item-btn">1</li>
          <li class="item-btn item-btn-active">2</li>
          <li class="item-btn">3</li>
          <li class="item-btn">Siguiente</li>
        </ul>
      </div>


    </div>
  </div>


  <!--RIGHT-->

  <div class="section-right col-xs-6">
    <div class="view-detail">

      <div class="view-detail-vacio">
        <!--- Adm_web_US8.png -->
        <div class="mensaje-info text-center">
          Selecione una Aerolínea para visualizar o editar
        </div>
      </div>
      <!-- the end--->

      <!--- Adm_web_US30.png -->
      <div class="col-xs-12 view-detail-solicitud hidden">

        <div class="detail-registro detail-registro-agente col-xs-12">
          <span class="item-span-tall">Av-Avianca Airlines</span>
          <span class="item-span-light">Avianca Airlines Perú S.A.C</span>
        </div>

        <div class="detail-content col-xs-12">
          <span class="lead">RUC.20100055237</span>
          <span class="item-span-normal">Representante Legal: José Jimenez Súarez</span>

          <div class="content-description conten-description-aerolineas col-xs-12">
            <p class="label-ott">
              <span class="label-text">Dirección : </span>
              <br>
              <span class="item-span-normal">Av. La marina, con Av.Universitaria. Av.Universitaria 913</span>
              <span>San Luis, Lima</span>
            </p>
          </div>

          <div class="content-description conten-description-aerolineas col-xs-12">
            <p class="label-ott">
              <span>Gerente general.</span>
              <br>
              <span class="lead">Andrés Briceño Masías</span>
            </p>
            <p class="label-ott label-left">
              <span class="label-content">
                  <span>Movil :</span>
              <span>José Galvez Mata</span>
              </span>
              <span>Fijo :</span>
              <span>474-23-12</span>
              <br>
              <span>Correo electrónico :</span>
              <span>jose.galvez@ottseguridad.com</span>
            </p>
          </div>

          <div class="content-description conten-description-aerolineas col-xs-12">
            <p class="label-ott">
              <span>Gerente Administrativo.</span>
              <br>
              <span class="lead">Andrés Briceño Masías</span>
            </p>
            <p class="label-ott label-left">
              <span class="label-content">
                  <span>Movil :</span>
              <span>José Galvez Mata</span>
              </span>
              <span>Fijo :</span>
              <span>474-23-12</span>
              <br>
              <span>Correo electrónico :</span>
              <span>jose.galvez@ottseguridad.com</span>
            </p>
          </div>


        </div>

      </div>
      <!-- the end--->

      <!--- Adm_web_US13.png-->
      <div class="col-xs-12 view-add-registro hidden">
        <div class="content-view">
          <form action="">
            <!--Datos del cliente-->
            <div class="block-datos-del-usuario">
              <div class="form-group">
                <label class="col-xs-12 control-label">Datos de la Aerolínea :</label>
              </div>
              <div class="content-input">
                <div class="form-group">
                  <div class="col-xs-7 form-310">
                    <label class="top-label">Aerolinea :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese Nombre aerolínea">
                    <span class="ico ico-editar"></span>
                  </div>

                  <div class="col-xs-4 form-190">
                    <label class="top-label">Código :</label>
                    <input type="text" class="form-control input-150" value="" placeholder="Código">
                    <span class="ico ico-editar"></span>
                  </div>

                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Razón social :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese razón social">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">RUC :</label>
                    <input type="text" class="form-control" value="" placeholder="Indique RUC">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Representante legal :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese teléfono">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-groups-block">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Provincia :</label>
                      <select class="form-control">
                        <option>Seleccione</option>
                        <option></option>
                        <option></option>
                      </select>
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Distrito :</label>
                      <select class="form-control">
                        <option>Seleccione</option>
                        <option></option>
                        <option></option>
                      </select>
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12 form-550">
                      <label class="top-label">Direccion :</label>
                      <input type="text" class="form-control input-500" placeholder="Ingrese dirección"/>
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                </div>
                <div class="form-groups-block">

                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Tipo de tarifa :</label>
                      <select class="form-control">
                        <option>Seleccione</option>
                        <option></option>
                        <option></option>
                      </select>
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="content-input-col3">
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label class="top-label">Monto :</label>
                        <input type="text" class="form-control input-150" value="" placeholder="S/.00000">
                        <span class="ico ico-editar"></span>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-xs-12">
                        <p class="col-3-center">Cantidad minima de servicios </p>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-xs-12">
                        <label class="top-label">No.</label>
                        <input type="text" class="form-control input-50" value="" placeholder="00">
                        <span class="ico ico-editar"></span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <label class="col-xs-5 control-label">Contáctos :</label>
              </div>
              <div class="content-input-num">
                <h1>1</h1>
                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Nombres :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese Nombres">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Apellidos :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese Apellidos">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Cargo :</label>
                    <input type="text" class="form-control" value="" placeholder="Indique cargo">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Teléfono fijo :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese teléfono">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Teléfono Movil :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese teléfono">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Correo electrónico :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese teléfono">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

              </div>

              <div class="content-input-num form-groups-block">
                <h1>2</h1>
                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Nombres :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese Nombres">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Apellidos :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese Apellidos">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Cargo :</label>
                    <input type="text" class="form-control" value="" placeholder="Indique cargo">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Teléfono fijo :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese teléfono">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Teléfono Movil :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese teléfono">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Correo electrónico :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese teléfono">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

              </div>
            </div>
        </div>
        <!--the end-->

        <div class="content-bottom-btn">
          <div class="pull-right btn-bottom">
            <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
            <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
          </div>
        </div>

        </form>
      </div>

      <!-- the end -->

      <!--- Adm_web_US5.png-->
      <div class="col-xs-12 view-edit-registro hidden">
        <div class="content-view">

          <form action="">

            <!--Datos del cliente-->
            <div class="block-datos-del-usuario">
              <div class="form-group">
                <label class="col-xs-5 control-label">Datos del Coordinador :</label>
              </div>
              <div class="content-input">
                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Nombre :</label>
                    <input type="text" class="form-control" value="Sergio" placeholder="Indique Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Apellidos :</label>
                    <input type="text" class="form-control" value="Ramirez Chumalazo" placeholder="Indique Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>
                <div class="form-groups-block">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Teléfono :</label>
                      <input type="text" class="form-control" value="990-000-654" placeholder="Indique Nombre">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Correo Electrónico :</label>
                      <input type="text" class="form-control" value="victor.ramirez@ottseguridad.com" placeholder="@ottseguridad.com">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>
                </div>
                <div class="form-groups-block">
                  <div class="form-group from-group-bottom">
                    <div class="col-xs-12">
                      <label class="top-label">Aerolínea :</label>
                      <select class="form-control">
                        <option>Seleccione Aerólinea</option>
                        <option></option>
                        <option></option>
                      </select>
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>
                </div>


              </div>
            </div>
            <!--the end-->

            <div class="content-bottom-btn">
              <div class="pull-right btn-bottom">
                <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
                <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
              </div>
            </div>

          </form>
        </div>
      </div>
      <!-- the end -->
    </div>
  </div>
</div>

</div>
