<div class="col-xs-12">

  <!--LEFT -->

  <div class="section-left col-xs-6">
    <div class="section-left-content col-xs-12">
      <div class="section-left-searching col-xs-7">
        <input class="searching-input form-control" type="text" placeholder="Buscar">
      </div>
      <div class="col-xs-5 text-right">
        <div class="section-left-estado ">
          <select class="form-control" name="estado" id="estado">
            <option>Estado</option>
            <option value="En progreso">En progreso</option>
            <option value="Pendiente">Pendiente</option>
          </select>
        </div>
        <div class="section-left-add-registro">
          <a class="add-registro-link" href="#">
          </a>
        </div>
      </div>
    </div>
    <div class="listado-item scrollbox">

      <div class="section-item user col-xs-12">
        <div class="item-col2 alerta col-xs-6">
          <span class="item-span-small"><small>Español</small></span>
          <span>Ramirez Chumalazo</span>
        </div>
        <div class="item-col2 alerta right-col col-xs-6">
          <span class="item-span-small"><small>Ingles</small></span>
          <span>Delayed flight</span>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item user col-xs-12">
        <div class="item-col2 alerta col-xs-6">
          <span class="item-span-small"><small>Español</small></span>
          <span>Ramirez Chumalazo</span>
        </div>
        <div class="item-col2 alerta right-col col-xs-6">
          <span class="item-span-small"><small>Ingles</small></span>
          <span>Delayed flight</span>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item user col-xs-12">
        <div class="item-col2 alerta col-xs-6">
          <span class="item-span-small"><small>Español</small></span>
          <span>Ramirez Chumalazo</span>
        </div>
        <div class="item-col2 alerta right-col col-xs-6">
          <span class="item-span-small"><small>Ingles</small></span>
          <span>Delayed flight</span>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item user col-xs-12">
        <div class="item-col2 alerta col-xs-6">
          <span class="item-span-small"><small>Español</small></span>
          <span>Ramirez Chumalazo</span>
        </div>
        <div class="item-col2 alerta right-col col-xs-6">
          <span class="item-span-small"><small>Ingles</small></span>
          <span>Delayed flight</span>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item user col-xs-12">
        <div class="item-col2 alerta col-xs-6">
          <span class="item-span-small"><small>Español</small></span>
          <span>Ramirez Chumalazo</span>
        </div>
        <div class="item-col2 alerta right-col col-xs-6">
          <span class="item-span-small"><small>Ingles</small></span>
          <span>Delayed flight</span>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item user col-xs-12">
        <div class="item-col2 alerta col-xs-6">
          <span class="item-span-small"><small>Español</small></span>
          <span>Ramirez Chumalazo</span>
        </div>
        <div class="item-col2 alerta right-col col-xs-6">
          <span class="item-span-small"><small>Ingles</small></span>
          <span>Delayed flight</span>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item user col-xs-12">
        <div class="item-col2 alerta col-xs-6">
          <span class="item-span-small"><small>Español</small></span>
          <span>Ramirez Chumalazo</span>
        </div>
        <div class="item-col2 alerta right-col col-xs-6">
          <span class="item-span-small"><small>Ingles</small></span>
          <span>Delayed flight</span>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item user col-xs-12">
        <div class="item-col2 alerta col-xs-6">
          <span class="item-span-small"><small>Español</small></span>
          <span>Ramirez Chumalazo</span>
        </div>
        <div class="item-col2 alerta right-col col-xs-6">
          <span class="item-span-small"><small>Ingles</small></span>
          <span>Delayed flight</span>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>
    </div>
  </div>


  <!--RIGHT-->

  <div class="section-right col-xs-6">
    <div class="view-detail">

    <div class="view-detail-vacio">
      <!--- Adm_web_US22.png -->
      <div class="mensaje-info text-center">
        Selecione una alerta para editarlo
      </div>
    </div>
      <!-- the end--->

    <!--- Adm_web_US22.png-->
    <div class="col-xs-12 view-add-registro hidden">
      <div class="content-view">

        <form action="">
          <!--Datos del cliente-->
          <div class="block-datos-del-usuario">
            <div class="form-group">
              <label class="col-xs-5 control-label">Editar Alerta :</label>
            </div>
            <div class="content-input">
              <div class="col-xs-12">
                <div class="content-alert col-xs-6 alert-left">
                  <span class="item-span-normal span-alerta">Español</span>
                  <textarea rows="3" class="form-control textarea-full" placeholder="Escriba la letra aquí ..."></textarea>
                </div>
                <div class="content-alert col-xs-6 alert-right">
                  <span class="item-span-normal span-alerta">Inglés</span>
                  <textarea rows="3" class="form-control textarea-full" placeholder="Enter the alert here ..."></textarea>
                </div>
              </div>
            </div>
          </div>
          <!--the end-->

          <div class="content-bottom-btn">
            <div class="pull-right btn-bottom">
              <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
              <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
            </div>
          </div>

        </form>
      </div>
    </div>
    <!-- the end -->

    <!--- Adm_web_US24.png-->
    <div class="col-xs-12 view-edit-registro hidden">
      <div class="content-view">

        <form action="">
          <!--Datos del cliente-->
          <div class="block-datos-del-usuario">
            <div class="form-group">
              <label class="col-xs-5 control-label">Editar Alerta :</label>
            </div>
            <div class="content-input">
              <div class="col-xs-12">
                <div class="content-alert col-xs-6 alert-left">
                  <span class="item-span-normal span-alerta">Español</span>
                  <textarea rows="3" class="form-control textarea-full" placeholder="Escriba la letra aquí ...">Vuelo con retrazo</textarea>
                </div>
                <div class="content-alert col-xs-6 alert-right">
                  <span class="item-span-normal span-alerta">Inglés</span>
                  <textarea rows="3" class="form-control textarea-full" placeholder="Enter the alert here ...">Delayed Flight</textarea>
                </div>
              </div>
            </div>
          </div>
          <!--the end-->

          <div class="content-bottom-btn">
            <div class="pull-right btn-bottom">
              <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
              <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
            </div>
          </div>

        </form>
      </div>
  </div>
    <!-- the end -->
  </div>
</div>

</div>
