<div class="col-xs-12">

  <!--LEFT -->

  <div class="section-left col-xs-12">
    <div class="section-left-content section-full-estado col-xs-12">
      <div class="section-left-searching col-xs-7">
        <input class="searching-input form-control" type="text" placeholder="Buscar">
      </div>
      <div class="col-xs-5 text-right">
        <div class="section-left-estado">
          <select class="form-control" name="estado" id="estado">
            <option>Estado</option>
            <option value="En progreso">En progreso</option>
            <option value="Pendiente">Pendiente</option>
          </select>
        </div>
      </div>
    </div>
    <div class="listado-item scrollbox">
      <div class="section-item user full col-xs-12">
        <div class="item-col2 col-xs-4">
          <span class="item-span-small"><small>Usuario</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light">Victor</span>
        </div>
        <div class="item-col3 col-xs-4">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
        </div>
        <div class="item-col3 col-xs-4">
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
      </div>
      <div class="section-item user full col-xs-12">
        <div class="item-col2 col-xs-4">
          <span class="item-span-small"><small>Usuario</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light">Victor</span>
        </div>
        <div class="item-col3 col-xs-4">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
        </div>
        <div class="item-col3 col-xs-4">
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
      </div>
      <div class="section-item user full col-xs-12">
        <div class="item-col2 col-xs-4">
          <span class="item-span-small"><small>Usuario</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light">Victor</span>
        </div>
        <div class="item-col3 col-xs-4">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
        </div>
        <div class="item-col3 col-xs-4">
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
      </div>
      <div class="section-item user full col-xs-12">
        <div class="item-col2 col-xs-4">
          <span class="item-span-small"><small>Usuario</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light">Victor</span>
        </div>
        <div class="item-col3 col-xs-4">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
        </div>
        <div class="item-col3 col-xs-4">
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
      </div>
      <div class="section-item user full col-xs-12">
        <div class="item-col2 col-xs-4">
          <span class="item-span-small"><small>Usuario</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light">Victor</span>
        </div>
        <div class="item-col3 col-xs-4">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
        </div>
        <div class="item-col3 col-xs-4">
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
      </div>
      <div class="section-item user full col-xs-12">
        <div class="item-col2 col-xs-4">
          <span class="item-span-small"><small>Usuario</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light">Victor</span>
        </div>
        <div class="item-col3 col-xs-4">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
        </div>
        <div class="item-col3 col-xs-4">
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
