<div class="col-xs-12">

  <!--LEFT -->

  <div class="section-left col-xs-6">
    <div class="section-left-content col-xs-12">
      <div class="section-left-searching col-xs-7">
        <input class="searching-input form-control" type="text" placeholder="Buscar">
      </div>
      <div class="col-xs-5 text-right">
        <div class="section-left-estado ">
          <select class="form-control" name="estado" id="estado">
            <option>Estado</option>
            <option value="En progreso">En progreso</option>
            <option value="Pendiente">Pendiente</option>
          </select>
        </div>
        <div class="section-left-add-registro">
          <a class="add-registro-link" href="#">
          </a>
        </div>
      </div>
    </div>
    <div class="listado-item scrollbox">

      <div class="section-item user col-xs-12">
        <div class="item-col2 col-xs-6">
          <span class="item-span-small"><small>Agente de tráfico</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light float-none">Victor</span>
          <span class="text-green small">Actualizar :  AVSEC, Fotocheck </span>
          <br>
          <div class="estado-user">
            <input type="checkbox" checked="checked"><span>Activo</span>
            <a class="btn btn-default btn-estado btn-xs" type="button">Disponible</a>
          </div>
        </div>
        <div class="item-col3 col-xs-6">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>

      <div class="section-item user col-xs-12">
        <div class="item-col2 col-xs-6">
          <span class="item-span-small"><small>Agente</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light float-none">Victor</span>
          <br>
          <div class="estado-user">
            <input type="checkbox" checked="checked"><span>Activo</span>
            <a class="btn btn-default btn-estado btn-xs" type="button">Disponible</a>
          </div>
        </div>
        <div class="item-col3 col-xs-6">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>



      <div class="section-item user col-xs-12">
        <div class="item-col2 col-xs-6">
          <span class="item-span-small"><small>Agente</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light float-none">Victor</span>
          <br>
          <div class="estado-user">
            <input type="checkbox" checked="checked"><span>Activo</span>
            <a class="btn btn-default btn-estado btn-estado-ocupado btn-xs" type="button">Ocupado</a>
          </div>
        </div>
        <div class="item-col3 col-xs-6">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>


      <div class="section-item user col-xs-12 section-item-disabled">
        <div class="item-col2 col-xs-6">
          <span class="item-span-small"><small>Agente de tráfico</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light float-none">Victor</span>
          <span class="text-green small">Avianca Airline, 2 más + </span>
          <br>
          <div class="estado-user">
            <input type="checkbox"><span>Activo</span>
          </div>
        </div>
        <div class="item-col3 col-xs-6">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>
    </div>
  </div>


  <!--RIGHT-->

  <div class="col-xs-6">
    <div class="view-detail">

      <!--- Adm_web_US8.png -->
      <div class="display-table view-detail-vacio">
        <div class="display-table-cell mensaje-info text-center">
          Selecione un Agente para visualizar o editar
        </div>
      </div>
      <!-- the end--->

      <!--- Adm_web_US17.png -->
      <div class="col-xs-12 view-detail-solicitud hidden">

        <div class="detail-registro detail-registro-agente col-xs-12">
          <span class="item-span-tall">José Alejandro<br> Galvez Mata</span>
          <span class="item-span-light item-span-light-agente">Agente de tráfico</span>
        </div>

        <div class="detail-content col-xs-12">


          <div class="form-groups-block">
            <div class="content-description col-xs-12">
              <p class="label-ott">
                <span class="label-text">Móvil :</span>
                <span>990-000-654</span>
              </p>
            </div>
            <div class="content-description col-xs-12">
              <p class="label-ott">
                <span class="label-text">Correo electrónico :</span>
                <span>José Galvez Mata</span>
              </p>
            </div>
            <div class="content-description col-xs-12">
              <p class="label-ott">
                <span class="label-text">DNI : </span>
                <span>José Galvez Mata</span>
              </p>
            </div>
          </div>


          <div class="form-groups-block">
            <div class="content-description col-xs-12">
              <p class="label-ott">
                <span class="label-text">Aerolineas :</span>
              </p>
            </div>
            <div class="content-item-span">
              <span class="item-span">Avianca Airlines</span>
              <span class="item-span">Avianca Airlines</span>
              <span class="item-span">LAN Airlines</span>
              <span class="item-span">Peruvian Airlines</span>
              <span class="item-span">Amzonas Airlines </span>
            </div>
          </div>


        </div>

      </div>
      <!-- the end--->


      <!--- Adm_web_US17-1.png -->
      <div class="col-xs-12 view-detail-solicitud hidden">

        <div class="detail-registro detail-registro-agente col-xs-12">
          <span class="item-span-tall">Andrea <br> Piñaren Duarte</span>
          <span class="item-span-light item-span-light-agente">Agente</span>
          <span class="item-span-normal">Cantidad de servicios <span class="span-bold">19</span></span>
        </div>

        <div class="detail-content col-xs-12">
          <div class="content-description conten-description-agente col-xs-12">
            <p class="label-ott">
              <span class="item-span-normal">Mañana, Tarde.</span>
              <span class="span-bold">Acceso </span> Nacionales, Internacionales
            </p>
          </div>
          <div class="content-description conten-description-agente col-xs-12">
            <p class="label-ott">
              <span class="label-content">
                  <span class="label-text">Movil :</span>
              <span>José Galvez Mata</span>
              </span>
              <span class="label-text">Fijo :</span>
              <span>474-23-12</span>
              <br>
              <span class="label-text">Correo electrónico :</span>
              <span>jose.galvez@ottseguridad.com</span>
            </p>
          </div>
          <div class="content-description conten-description-agente col-xs-12">
            <p class="label-ott">
              <span class="label-text">Dirección : </span>
              <br>
              <span class="item-span-normal">Av. La marina, con Av.Universitaria. Av.Universitaria 913</span>
              <span>San Luis, Lima</span>
            </p>
          </div>
          <div class="content-description conten-description-agente col-xs-12">
            <p class="label-ott">

              <span class="label-content">
                  <span class="label-text">DNI :</span>
              <span>70587679</span>
              </span>

              <span class="label-content label-redoscuro">
                  <span class="label-text">Fotocheck :</span>
              <span class="label-text">21-29-2017</span>
              </span>

              <span class="label-content">
                  <span class="ico ico-torta"></span>
              <span>21-09-1985</span>
              </span>
            </p>
          </div>
          <div class="content-description conten-description-agente col-xs-12">
            <p class="label-ott">
              <span class="label-text">Fecha de vencimiento de cursos : </span>
              <br>
              <span class="label-content">
                  <span>MMPP:26/03/2016</span>
              </span>
              <span class="label-content label-redoscuro">
                <span class="label-text">AVSEC :</span>
              <span class="label-text">21/29/2017</span>
              </span>
              <span>BHS:14/03/2016</span>
            </p>
          </div>

        </div>

      </div>
      <!-- the end--->


      <!--- Adm_web_US18.png-->
      <div class="col-xs-12 view-add-registro hidden">
        <div class="content-view">

          <form action="">

            <!--Datos del cliente-->
            <div class="block-datos-del-usuario">
              <div class="form-group">
                <label class="col-xs-5 control-label">Seleccione la fecha :</label>
                <div class="col-xs-7">
                  <label class="checkbox-inline">
                    <input type="radio" value=""> Agente</label>
                  <label class="checkbox-inline">
                    <input type="radio" checked="true" value=""> Agente de tráfico</label>
                </div>
              </div>
              <div class="content-select content-select-agente">
                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Nombre :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Apellidos :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese Apellidos">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>
                <div class="form-groups-block">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Teléfono :</label>
                      <input type="text" class="form-control" value="" placeholder="Ingrese Teléfono">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Correo Electrónico :</label>
                      <input type="text" class="form-control" value="" placeholder="@ottseguridad.com">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">DNI :</label>
                      <input type="text" class="form-control" value="" placeholder="Ingrese su DNI">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>
                </div>
                <div class="form-groups-block">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Aerolínea</label>
                      <select class="form-control">
                        <option>Seleccione</option>
                        <option></option>
                        <option></option>
                      </select>
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>
                </div>





              </div>
            </div>
            <!--the end-->

            <div class="content-bottom-btn">
              <div class="pull-right btn-bottom">
                <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
                <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
              </div>
            </div>

          </form>
        </div>
      </div>
      <!-- the end -->


      <!--- Adm_web_US19.png-->
      <div class="col-xs-12 view-add-registro hidden">
        <div class="content-view">

          <form action="">

            <!--Datos del cliente-->
            <div class="block-datos-del-usuario">
              <div class="form-group">
                <label class="col-xs-5 control-label">Seleccione la fecha :</label>
                <div class="col-xs-7">
                  <label class="checkbox-inline">
                    <input type="radio" checked="true" value=""> Agente</label>
                  <label class="checkbox-inline">
                    <input type="radio" value=""> Agente de tráfico</label>
                </div>
              </div>
              <div class="content-select content-select-agente">
                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Nombre :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Apellidos :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese Apellidos">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Fecha de nacimiento :</label>
                    <input type="text" class="form-control datepicker" value="" placeholder="00/00/0000">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-groups-block">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Teléfono Fijo :</label>
                      <input type="text" class="form-control" value="" placeholder="Ingrese teléfono">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Teléfono Móvil :</label>
                      <input type="text" class="form-control" value="" placeholder="Ingrese teléfono">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Correo electrónico :</label>
                      <input type="text" class="form-control" value="" placeholder="Ingrese correo">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                </div>


                <div class="form-groups-block">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">DNI :</label>
                      <input type="text" class="form-control" value="" placeholder="Ingrese correo">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group alerta">
                    <div class="col-xs-12">
                      <label class="top-label">Fotocheck :</label>
                      <input type="text" class="form-control datepicker" value="" placeholder="00/00/0000">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>
                </div>

                <div class="form-groups-block">

                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Provincia :</label>
                      <select class="form-control">
                        <option>Seleccione</option>
                        <option></option>
                        <option></option>
                      </select>
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Distrito :</label>
                      <select class="form-control">
                        <option>Seleccione</option>
                        <option></option>
                        <option></option>
                      </select>
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Dirección :</label>
                      <input type="text" class="form-control input-500" value="" placeholder="Ingrese la dirección completa">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <p class="label-ott content-space">
                    <span class="label-content">
                      <span class="label-text">Accesos :</span>
                    <span>Nacionales</span>
                    <input type="checkbox" checked="true">
                    </span>
                    <span class="label-content">
                      <span>Internacionales</span>
                    <input type="checkbox">
                    </span>
                  </p>

                  <div class="content-space">
                    <p class="label-ott">
                      <span class="label-text">Fecha de vencimiento de cursos : </span>
                    </p>
                    <div class="content-input-col3">
                      <div class="form-group">
                        <div class="col-xs-12">
                          <label class="top-label">MMPP :</label>
                          <input type="text" class="form-control input-150 datepicker" value="" placeholder="00/00/0000">
                        </div>
                      </div>

                      <div class="form-group alerta">
                        <div class="col-xs-12">
                          <label class="top-label">AVSEC :</label>
                          <input type="text" class="form-control input-150 datepicker" value="" placeholder="00/00/0000">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-xs-12">
                          <label class="top-label">BHS :</label>
                          <input type="text" class="form-control input-150 datepicker" value="" placeholder="00/00/0000">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group content-space">
                    <div class="col-xs-12">
                      <label class="top-label">Tarifas por aerolineas :</label>
                      <!--vacio--->
                      <!-- <div class="content-option">
                        <span class="option-span text-center">
                          <span class="item-span-normal">No existe Aerolineas registradas,</span>
                          <span class="item-span-normal">por favor registre una aerolinea en Administrar aerolineas.</span>
                        </span>
                      </div> -->


                      <div class="content-option">
                        <table>
                          <tr>
                            <td width=10% class="text-right">
                              <input type="checkbox" checked="true">
                            </td>
                              <td width=40%>
                              <span>Avianca Airline</span>
                            </td>
                            <td width=30%>
                              <div class="table-select-input pull-right">
                                <select class="form-control">
                                  <option>Tarifa fija</option>
                                  <option>Option1</option>
                                  <option>Option2</option>
                                </select>
                              </div>
                            </td>
                            <td width=20% class="text-right">
                              S/.00.00
                            </td>
                          </tr>
                          <tr>
                            <td width=10% class="text-right">
                              <input type="checkbox" checked="true">
                            </td>
                              <td width=40%>
                              <span>Americaan Airline</span>
                            </td>
                            <td width=30%>
                              <div class="table-select-input pull-right">
                                <select class="form-control">
                                  <option>Porcentaje</option>
                                  <option>Option1</option>
                                  <option>Option2</option>
                                </select>
                              </div>
                            </td>
                            <td width=20% class="text-right">
                              %.00.00
                            </td>
                          </tr>
                          <tr>
                            <td width=10% class="text-right">
                              <input type="checkbox" checked="true">
                            </td>
                              <td width=40%>
                              <span>LAN Airline</span>
                            </td>
                            <td width=30%>
                              <div class="table-select-input pull-right">
                                <select class="form-control">
                                  <option>Planilla</option>
                                  <option>Option1</option>
                                  <option>Option2</option>
                                </select>
                              </div>
                            </td>
                            <td width=20% class="text-right color-light">
                              S/.00.00
                            </td>
                          </tr>
                          <tr>
                            <td width=10% class="text-right">
                              <input type="checkbox" checked="true">
                            </td>
                              <td width=40%>
                              <span>Peruvian Airline</span>
                            </td>
                            <td width=30%>
                              <div class="table-select-input pull-right">
                                <select class="form-control">
                                  <option>Planilla</option>
                                  <option>Option1</option>
                                  <option>Option2</option>
                                </select>
                              </div>
                            </td>
                            <td width=20% class="text-right">
                              S/.20.00
                            </td>
                          </tr>
                        </table>
                      </div>


                    </div>
                  </div>

                  <div class="form-group content-space">
                    <div class="col-xs-12">
                      <label class="top-label">Bloque de asistencia :</label>
                      <select class="form-control">
                        <option>Seleccione</option>
                        <option></option>
                        <option></option>
                      </select>
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>



                </div>





              </div>
            </div>
            <!--the end-->

            <div class="content-bottom-btn">
              <div class="pull-right btn-bottom">
                <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
                <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
              </div>
            </div>

          </form>
        </div>
      </div>
      <!-- the end -->


      <!--- Adm_web_US5.png-->
      <div class="col-xs-12 view-edit-registro hidden">
        <div class="content-view">

          <form action="">

            <!--Datos del cliente-->
            <div class="block-datos-del-usuario">
              <div class="form-group">
                <label class="col-xs-5 control-label">Datos del Usuario :</label>
              </div>
              <div class="content-input">
                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Nombre :</label>
                    <input type="text" class="form-control" value="Sergio" placeholder="Indique Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Apellidos :</label>
                    <input type="text" class="form-control" value="Ramirez Chumalazo" placeholder="Indique Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Teléfono :</label>
                    <input type="text" class="form-control" value="990-000-654" placeholder="Indique Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group from-group-bottom">
                  <div class="col-xs-12">
                    <label class="top-label">Correo Electrónico :</label>
                    <input type="text" class="form-control" value="victor.ramirez@ottseguridad.com" placeholder="@ottseguridad.com">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group col-xs-6">
                  <a class="text-green link-change-password" data-toggle="modal" data-target="#change-password">Cambiar contraseña</a>
                </div>


              </div>
            </div>
            <!--the end-->

            <div class="content-bottom-btn">
              <div class="pull-right btn-bottom">
                <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
                <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
              </div>
            </div>

          </form>
        </div>
      </div>
      <!-- the end -->
    </div>
  </div>

</div>
