<div class="col-xs-12">

  <!--LEFT -->

  <div class="section-left col-xs-6">
    <div class="section-left-content col-xs-12">
      <div class="section-left-searching col-xs-7">
        <input class="searching-input form-control" type="text" placeholder="Buscar">
      </div>
      <div class="col-xs-5 text-right">
        <div class="section-left-estado ">
          <select class="form-control" name="estado" id="estado">
            <option>Estado</option>
            <option value="En progreso">En progreso</option>
            <option value="Pendiente">Pendiente</option>
          </select>
        </div>
        <div class="section-left-add-registro">
          <a class="add-registro-link" href="#">
          </a>
        </div>
      </div>
    </div>
    <div class="listado-item">
      <div class="section-item user col-xs-12">
        <div class="item-col2 col-xs-6">
          <span class="item-span-small"><small>Usuario</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light">Victor</span>
          <br>
          <div class="estado-user">
            <input type="checkbox" checked="checked"><span>Activo</span>
          </div>
        </div>
        <div class="item-col3 col-xs-6">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>
      <div class="section-item user col-xs-12 section-item-disabled">
        <div class="item-col2 col-xs-6">
          <span class="item-span-small"><small>Usuario</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light">Victor</span>
          <br>
          <div class="estado-user">
            <input type="checkbox"><span>Desactivo</span>
          </div>
        </div>
        <div class="item-col3 col-xs-6">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>
      <div class="section-item user col-xs-12">
        <div class="item-col2 col-xs-6">
          <span class="item-span-small"><small>Usuario</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light">Victor</span>
          <br>
          <div class="estado-user">
            <input type="checkbox" checked="checked"><span>Activo</span>
          </div>
        </div>
        <div class="item-col3 col-xs-6">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>
      <div class="section-item user col-xs-12">
        <div class="item-col2 col-xs-6">
          <span class="item-span-small"><small>Usuario</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light">Victor</span>
          <br>
          <div class="estado-user">
            <input type="checkbox" checked="checked"><span>Activo</span>
          </div>
        </div>
        <div class="item-col3 col-xs-6">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>
      <div class="section-item user col-xs-12">
        <div class="item-col2 col-xs-6">
          <span class="item-span-small"><small>Usuario</small></span>
          <span class="item-span-tall">Ramirez Chumalazo</span>
          <span class="item-span-light">Victor</span>
          <br>
          <div class="estado-user">
            <input type="checkbox" checked="checked"><span>Activo</span>
          </div>
        </div>
        <div class="item-col3 col-xs-6">
          <div class="form-group">
            <span class="item-span-small"><small>Correo</small></span>
            <span class="item-span-normal">jose.galvez@ottseguridad.com</span>
          </div>
          <div class="form-group">
            <span class="item-span-small"><small>Movíl</small></span>
            <span class="item-span-normal">+51 991-432-234</span>
          </div>
        </div>
        <a class="ico link-editar"></a>
        <a class="ico link-eliminar"></a>
      </div>
    </div>
  </div>


  <!--RIGHT-->

  <div class="section-right col-xs-6">
    <div class="view-detail">

      <!--- Adm_web_US8.png -->
      <div class="view-detail-vacio">
      <div class=" mensaje-info text-center">
          Selecione un usuario para editarlo
        </div>
      </div>
      <!-- the end--->

      <!--- Adm_web_US3.png -->
      <div class="col-xs-12 view-detail-solicitud hidden">
        <div class="content-view">

          <form action="">

            <!--Datos del cliente-->
            <div class="block-datos-del-usuario">
              <div class="form-group">
                <label class="col-xs-5 control-label">Datos del Usuario :</label>
              </div>
              <div class="content-input">
                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Nombre :</label>
                    <input type="text" class="form-control" value="Sergio" placeholder="Indique Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Apellidos :</label>
                    <input type="text" class="form-control" value="Ramirez Chumalazo" placeholder="Indique Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>
                <div class="form-groups-block">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Teléfono :</label>
                      <input type="text" class="form-control" value="990-000-654" placeholder="Indique Nombre">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group from-group-bottom">
                    <div class="col-xs-12">
                      <label class="top-label">Correo Electrónico :</label>
                      <input type="text" class="form-control" value="victor.ramirez@ottseguridad.com" placeholder="@ottseguridad.com">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group col-xs-6">
                    <a class="text-green link-change-password" data-toggle="modal" data-target="#change-password">Cambiar contraseña</a>
                  </div>
                </div>

              </div>
            </div>
            <!--the end-->

            <div class="content-bottom-btn">
              <div class="pull-right btn-bottom">
                <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
                <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
              </div>
            </div>

          </form>
        </div>
      </div>
      <!-- the end--->

      <!--- Adm_web_US4.png-->
      <div class="col-xs-12 view-add-registro hidden">
        <div class="content-view">

          <form action="">

            <!--Datos del cliente-->
            <div class="block-datos-del-usuario">
              <div class="form-group">
                <label class="col-xs-5 control-label">Datos del Usuario :</label>
              </div>
              <div class="content-input">
                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Nombre :</label>
                    <input type="text" class="form-control" value="Sergio" placeholder="Indique Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Apellidos :</label>
                    <input type="text" class="form-control" value="Ramirez Chumalazo" placeholder="Indique Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>
                <div class="form-groups-block">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Teléfono :</label>
                      <input type="text" class="form-control" value="990-000-654" placeholder="Indique Nombre">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group from-group-bottom">
                    <div class="col-xs-12">
                      <label class="top-label">Correo Electrónico :</label>
                      <input type="text" class="form-control" value="victor.ramirez@ottseguridad.com" placeholder="@ottseguridad.com">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group col-xs-6">
                    <a class="text-green link-change-password" data-toggle="modal" data-target="#change-password">Cambiar contraseña</a>
                  </div>
                </div>


              </div>
            </div>
            <!--the end-->

            <div class="content-bottom-btn">
              <div class="pull-right btn-bottom">
                <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
                <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
              </div>
            </div>

          </form>
        </div>
      </div>
      <!-- the end -->

      <!--- Adm_web_US5.png-->
      <div class="col-xs-12 view-edit-registro hidden">
        <div class="content-view">

          <form action="">

            <!--Datos del cliente-->
            <div class="block-datos-del-usuario">
              <div class="form-group">
                <label class="col-xs-5 control-label">Datos del Usuario :</label>
              </div>
              <div class="content-input">
                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Nombre :</label>
                    <input type="text" class="form-control" value="Sergio" placeholder="Indique Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Apellidos :</label>
                    <input type="text" class="form-control" value="Ramirez Chumalazo" placeholder="Indique Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>
                <div class="form-groups-block">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label class="top-label">Teléfono :</label>
                      <input type="text" class="form-control" value="990-000-654" placeholder="Indique Nombre">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group from-group-bottom">
                    <div class="col-xs-12">
                      <label class="top-label">Correo Electrónico :</label>
                      <input type="text" class="form-control" value="victor.ramirez@ottseguridad.com" placeholder="@ottseguridad.com">
                      <span class="ico ico-editar"></span>
                    </div>
                  </div>

                  <div class="form-group col-xs-6">
                    <a class="text-green link-change-password" data-toggle="modal" data-target="#change-password">Cambiar contraseña</a>
                  </div>
                </div>

              </div>
            </div>
            <!--the end-->

            <div class="content-bottom-btn">
              <div class="pull-right btn-bottom">
                <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
                <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
              </div>
            </div>

          </form>
        </div>
      </div>
      <!-- the end -->
    </div>
  </div>

</div>
