<div class="col-xs-12">

  <div class="col-xs-12">
    <div class="col-xs-12 filtro_search hidden">
      <div class="form-group">
        <div class="col-xs-7 form-190">
          <label class="top-label">Buscar :</label>
          <input type="text" placeholder="" value="José Galvez Mata" class="form-control search_Historial">
        </div>
        <div class="col-xs-6 form-150">
          <label class="top-label">Estado :</label>
          <select class="form-control historial-select">
            <option>Estado 01</option>
            <option></option>
            <option></option>
          </select>
        </div>
        <div class="col-xs-6 form-150">
          <label class="top-label">Nombre :</label>
          <select class="form-control historial-select">
            <option>Estado 01</option>
            <option></option>
            <option></option>
          </select>
        </div>
        <div class="col-xs-7 form-150">
          <button type="button" class="btn btn-filtro">Filtrar</button>
        </div>
        <div class="col-xs-6 form-190">
          <span class="num_agentes">10 agente(s) conectado(s)</span>
        </div>
        <div class="col-xs-7 form-190">
          <span class="lineal-nom"><span class="b bgrren"></span>Agentes disponibles</span>
          <span class="lineal-nom"><span class="b bred"></span>Agentes ocupados</span>
        </div>
      </div>
      <div class="btn_ocultar_panel tooltip" title="Ocultar el panel lateral">
      </div>
    </div>
  </div>


  <div class="detalle-agente traking">
    <div class="col-xs-12 view-detail-solicitud">
      <div class="fecha col-xs-2 text-center">
        <div class="detail-fecha-agente">
          <span class="col1-top">Disponible</span>
        </div>
      </div>
      <div class="detail-registro col-xs-10">
        <span class="item-span-tall">José Galvez Mata</span>
        <a class="closex" href="#">X</a>
      </div>
      <div class="detail-content-agente">
        <div class="content-title scrollboxpop">
          <div class="col-xs-6 blo">
            <p class="title-principal ti-gre">INICIO SESIÓN: <span> 08:00 am </span></p>
          </div>
          <div class="col-xs-6 blo">
            <p class="title-principal ti-blu">FIN SESIÓN: <span> 11:00 pm </span></p>
          </div>
          <div class="col-xs-6 blo">
            <p class="title-principal">Número Movil</p>
            <p>999 87 456</p>
          </div>
          <div class="col-xs-6 blo">
            <p class="title-principal">Tipo de asosiación</p>
            <p>Agente apoyo</p>
          </div>
          <div class="col-xs-6 blo">
            <p class="title-principal">Pasajero</p>
            <p>999 87 456</p>
          </div>
          <div class="col-xs-6 blo">
            <p class="title-principal">Tipo de vuelo</p>
            <p>Andrés Briceño Masiás</p>
          </div>
          <div class="col-xs-6 blo">
            <div class="detail-registro">
              <span class="item-span-small">Vuelo</span>
              <span class="item-span-tall">Av-9375</span>
              <span class="item-span-light">Silla Tradicional</span>
            </div>
          </div>
          <div class="col-xs-6 blo">
            <p class="title-principal">Estado de atención</p>
            <p>En camino</p>
          </div>
        </div>
        <div class="foot-btn">
          <div class="col-xs-6 text-center">
            <button type="button" class="btn btn-agente">VER TRACKING</button>
          </div>
          <div class="col-xs-6 text-center">
            <button type="button" class="btn btn-agente-green">UBICAR AGENTE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn_mostrar_panel tooltip" title="Mostrar el panel lateral">
  </div>

  <div id="map" class="map">
  </div>

  <script>
  function initMap() {
    var contentString = '<div id="content">'+
    '<div id="bodyContent">'+
    '<h1>INICIO SESIÓN :</h1>'+
    '<p>08:00 am</p>'+
    '</div>'+
    '</div>';

    var contentString1 = '<div id="content">'+
    '<div id="bodyContent1">'+
    '<h1>FIN SESIÓN :</h1>'+
    '<p>11:00 am</p>'+
    '</div>'+
    '</div>';

    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var infowindow1 = new google.maps.InfoWindow({
      content: contentString1
    });

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: {lat: -12.1275123, lng: -76.9898101},
      mapTypeId: google.maps.MapTypeId.TERRAIN
    });

    var flightPlanCoordinates = [
      {lat: -12.1275123, lng: -76.9898101},
      {lat: -12.127853, lng: -76.987054},
      {lat: -12.128430, lng: -76.987805},
      {lat: -12.128248, lng: -76.985884}
    ];
    var flightPath = new google.maps.Polyline({
      path: flightPlanCoordinates,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });


    var image = 'images/block-verde.png';
    var marker = new google.maps.Marker({
      position: {lat: -12.1275123, lng: -76.9898101},
      map: map,
      icon: image
    });

    var image1 = 'images/block-blu.png';
    var marker1 = new google.maps.Marker({
      position: {lat: -12.128248, lng: -76.985884},
      map: map,
      icon: image1
    });

    var image3 = 'images/block-red.png';
    var marker3 = new google.maps.Marker({
      position: {lat: -12.127949, lng: -76.987712},
      map: map,
      icon: image3
    });

    var image3 = 'images/block-red.png';
    var marker3 = new google.maps.Marker({
      position: {lat: -12.127946, lng: -76.988013},
      map: map,
      icon: image3
    });

    flightPath.setMap(map);

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });

      marker1.addListener('click', function() {
        infowindow1.open(map, marker1);
      });
    }

  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5FIh5X4HtoyZ0oTcnyTuahk_hkHGMluU&callback=initMap"></script>

</div>
