<div class="col-xs-12">

  <!--LEFT -->

  <div class="section-left col-xs-6">
    <div class="section-left-content col-xs-12">
      <div class="section-left-searching col-xs-7">
        <input class="searching-input form-control" type="text" placeholder="Buscar">
      </div>
      <div class="col-xs-5 text-right">
        <div class="section-left-estado ">
          <select class="form-control" name="estado" id="estado">
            <option>Estado</option>
            <option value="En progreso">En progreso</option>
            <option value="Pendiente">Pendiente</option>
          </select>
        </div>
        <div class="section-left-add-registro">
          <a class="add-registro-link" href="#">
          </a>
        </div>
      </div>
    </div>
    <div class="listado-item scrollbox">
      <div class="col-md-12 grid_aerolinea-19">
        <div class="error_aerolinea-13">
          <img src="images/ic_alertas-17.png" class="center-block" alt="" /><br><br>
          <h1 class="text-center">NO HAY ALERTAS</h1>
          <h5 class="text-center">EMPECEMOS A CREAR ALERTAS</h5>
          <p class="text-center">
            puedes crear una nueva alerta <br>
            en el boton + en la parte superior.
          </p>
        </div>
      </div>
    </div>
  </div>


  <!--RIGHT-->

  <div class="section-right col-xs-6">
    <div class="view-detail">

      <div class="view-detail-vacio">
        <!--- Adm_web_US8.png -->
        <div class="mensaje-info text-center">

        </div>
      </div>
      <!-- the end--->

      <!--- Adm_web_US30.png -->
      <div class="col-xs-12 view-detail-solicitud hidden">

        <div class="content-view">
          <form action="">
            <!--Datos del cliente-->
            <div class="block-datos-del-usuario">
              <div class="form-group">
                <label class="col-xs-12 control-label">Datos de la Silla :</label>
              </div>
              <div class="content-input">
                <div class="form-group">
                  <div class="col-xs-7 form-310">
                    <label class="top-label">Propietario :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                  <div class="col-xs-4 form-190">
                    <label class="top-label">Número :</label>
                    <input type="text" class="form-control input-150" value="00" placeholder="Código">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Tipo :</label>
                    <select class="form-control">
                      <option>Seleccione</option>
                      <option></option>
                      <option></option>
                    </select>
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Estado :</label>
                    <select class="form-control">
                      <option>Seleccione</option>
                      <option></option>
                      <option></option>
                    </select>
                    <span class="ico ico-editar"></span>
                  </div>
                </div>
              </div>


            </div>
        </div>
        <!--the end-->

        <div class="content-bottom-btn">
          <div class="pull-right btn-bottom">
            <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
            <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
          </div>
        </div>

      </div>
      <!-- the end--->

      <!--- Adm_web_US13.png-->
      <div class="col-xs-12 view-add-registro hidden">
        <div class="content-view">
          <form action="">
            <!--Datos del cliente-->
            <div class="block-datos-del-usuario">
              <div class="form-group">
                <label class="col-xs-12 control-label">Datos de la Silla :</label>
              </div>
              <div class="content-input">
                <div class="form-group">
                  <div class="col-xs-7 form-310">
                    <label class="top-label">Propietario :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                  <div class="col-xs-4 form-190">
                    <label class="top-label">Número :</label>
                    <input type="text" class="form-control input-150" value="00" placeholder="Código">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Tipo :</label>
                    <select class="form-control">
                      <option>Seleccione</option>
                      <option></option>
                      <option></option>
                    </select>
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Estado :</label>
                    <select class="form-control">
                      <option>Seleccione</option>
                      <option></option>
                      <option></option>
                    </select>
                    <span class="ico ico-editar"></span>
                  </div>
                </div>
              </div>


            </div>
        </div>
        <!--the end-->

        <div class="content-bottom-btn">
          <div class="pull-right btn-bottom">
            <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
            <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
          </div>
        </div>

        </form>
      </div>

      <!-- the end -->

      <!--- Adm_web_US5.png-->
      <div class="col-xs-12 view-edit-registro hidden">
        <div class="content-view">
          <form action="">
            <!--Datos del cliente-->
            <div class="block-datos-del-usuario">
              <div class="form-group">
                <label class="col-xs-12 control-label">Datos de la Silla :</label>
              </div>
              <div class="content-input">
                <div class="form-group">
                  <div class="col-xs-7 form-310">
                    <label class="top-label">Propietario :</label>
                    <input type="text" class="form-control" value="" placeholder="Ingrese Nombre">
                    <span class="ico ico-editar"></span>
                  </div>
                  <div class="col-xs-4 form-190">
                    <label class="top-label">Número :</label>
                    <input type="text" class="form-control input-150" value="00" placeholder="Código">
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Tipo :</label>
                    <select class="form-control">
                      <option>Seleccione</option>
                      <option></option>
                      <option></option>
                    </select>
                    <span class="ico ico-editar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="top-label">Estado :</label>
                    <select class="form-control">
                      <option>Seleccione</option>
                      <option></option>
                      <option></option>
                    </select>
                    <span class="ico ico-editar"></span>
                  </div>
                </div>
              </div>


            </div>
        </div>
        <!--the end-->

        <div class="content-bottom-btn">
          <div class="pull-right btn-bottom">
            <button class="btn btn-default btn-white btn-medium" type="button">CANCELAR</button>
            <button class="btn btn-default btn-green btn-medium" type="button">GUARDAR</button>
          </div>
        </div>


      </div>
      <!-- the end -->
    </div>
  </div>
</div>

</div>
