<div class="col-xs-12">
  <div class="container-fluid dashboard">
    <div class="col-xs-5 dashboard-agents">
      <h3>Agentes</h3><br>
      <div class="col-xs-4">
        <p><b class="bSize1">45</b><br>Agentes registrados </p>
        <br>
        <p><b>34</b> Ocupados</p>
        <p><b>9</b> Disponibles</p>
        <p><b>2</b> Desconectados</p>
      </div>
      <div class="col-xs-8" id="chartAgents">
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-1 dashboard-service">
      <h3>Servicios</h3>
      <div class="col-xs-2 buttonsDash">
        <p><b class="bSize1">143</b><br>Servicios registrados </p>
        <button class="btn-dash1">Ahora</button>
        <button class="btn-dash1">1 mes</button>
        <button class="btn-dash1">3 meses</button>
      </div>
      <div class="col-xs-5" id="chartService">
      </div>
      <div class="col-xs-4">
        <p><b>120</b> Finalizados</p>
        <p><b>20</b> En proceso</p>
        <p><b>3</b> Pendientes</p>
        <p><b>2</b> Anulados</p>
        <p><b>1</b> Pasajeros ausentes</p>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-12">
          <p class="pM">Indique el intervalo de tiempo</p>
          <div class="form-group fM">
            <div class="col-xs-7 form-150">
              <label class="top-label">Desde :</label>
              <input type="text" class="form-control datepicker" value="" placeholder="00/00/0000">
            </div>
            <div class="col-xs-7 form-150">
              <label class="top-label">Hasta :</label>
              <input type="text" class="form-control datepicker" value="" placeholder="00/00/0000">
            </div>
            <div class="col-xs-7 form-150">
              <button type="button" name="button" class="btn btn-aplicar">APLICAR</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 dsb">
      <div class="dashboard-service2">
        <h3>Servicios</h3><br>
        <div class="col-xs-12" id="chartContainer">

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // chart - graficos
  CanvasJS.addColorSet("greenShades",
  [//colorSet Array

  "#2F4F4F",
  "#008080",
  "#2E8B57",
  "#3CB371"
  ]);

  var chart = new CanvasJS.Chart("chartAgents", {
      colorSet: "greenShades",
      data: [{
          type: "doughnut",
          dataPoints: [{
              y: 53.37
          }, {
              y: 35.0
          }, {
              y: 7
          }, {
              y: 2
          }, {
              y: 5
          }]
      }]
  });
  chart.render();

  var chart = new CanvasJS.Chart("chartService", {
      colorSet: "greenShades",
      data: [{
          type: "doughnut",
          dataPoints: [{
              y: 53.37
          }, {
              y: 35.0
          }, {
              y: 7
          }, {
              y: 2
          }, {
              y: 5
          }]
      }]
  });

  chart.render();

    var chart = new CanvasJS.Chart("chartContainer",
    {
      animationEnabled: true,
      axisX: {
        valueFormatString: "MMM",
        interval: 1,
        intervalType: "month"
      },
      data: [
      {
        fontSize: 30,
        type: "stackedBar",
        legendText: "Servicios pendientes",
        showInLegend: "true",
        dataPoints: [
        { x: new Date(2012, 01, 1), y: 71, label: "Peruvian Airlines"},
        { x: new Date(2012, 02, 1), y: 55, label: "Avianca"},
        { x: new Date(2012, 03, 1), y: 50, label: "American Airlines" },
        { x: new Date(2012, 04, 1), y: 65, label: "LAN" },
        { x: new Date(2012, 05, 1), y: 95, label: "Delta Airlines" }

        ]
      },
        {
        type: "stackedBar",
        name: "En camino",
        showInLegend: "true",
        dataPoints: [
        { x: new Date(2012, 01, 1), y: 71 },
        { x: new Date(2012, 02, 1), y: 55},
        { x: new Date(2012, 03, 1), y: 50 },
        { x: new Date(2012, 04, 1), y: 65 },
        { x: new Date(2012, 05, 1), y: 95 }

        ]
      },
        {
        type: "stackedBar",
        name: "En espera",
        showInLegend: "true",
        dataPoints: [
        { x: new Date(2012, 01, 1), y: 71 },
        { x: new Date(2012, 02, 1), y: 55},
        { x: new Date(2012, 03, 1), y: 50 },
        { x: new Date(2012, 04, 1), y: 65 },
        { x: new Date(2012, 05, 1), y: 95 }

        ]
      },

        {
        type: "stackedBar",
        name: "Esperando pasajero",
        showInLegend: "true",
        dataPoints: [
        { x: new Date(2012, 01, 1), y: 61 },
        { x: new Date(2012, 02, 1), y: 75},
        { x: new Date(2012, 03, 1), y: 80 },
        { x: new Date(2012, 04, 1), y: 85 },
        { x: new Date(2012, 05, 1), y: 105 }

        ]
      },
        {
        type: "stackedBar",
        name: "Atendiend pasajero",
        showInLegend: "true",
        dataPoints: [
        { x: new Date(2012, 01, 1), y: 20 },
        { x: new Date(2012, 02, 1), y: 35},
        { x: new Date(2012, 03, 1), y: 30 },
        { x: new Date(2012, 04, 1), y: 45 },
        { x: new Date(2012, 05, 1), y: 25 }
        ]
      }
      ]
      ,
      legend:{
        cursor:"pointer",
        itemclick:function(e) {
          if(typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible){
            e.dataSeries.visible = false;
          }
          else {
            e.dataSeries.visible = true;
          }

          chart.render();
        }
      }
    });

    chart.render();

</script>
