<div class="col-xs-12">
    <div class="col-xs-12 reportabs">
      <div class="col-xs-3">
        <a>REPORTE DE FACTURACIÓN</a>
      </div>
      <div class="col-xs-3">
        <a class="activeReport">REPORTE DE COMISIONES</a>
      </div>
      <div class="col-xs-3">
        <a>REPORTE DE PRODUCCIÓN</a>
      </div>
      <div class="col-xs-3">
        <a>REPORTE DE ASISTENCIA</a>
      </div>
    </div>
    <hr class="hrShow2">
    <div class="col-xs-12 historial">
        <div class="form-group">
            <div class="col-xs-7 form-190">
                <label class="top-label">Buscar :</label>
                <input type="text" class="form-control search_Historial" value="" placeholder="Avianca">
            </div>
            <div class="col-xs-2 form-70">
            </div>
            <div class="col-xs-7 form-150">
              <label class="top-label">Mes :</label>
              <select class="form-control historial-select">
                  <option>Mayo</option>
                  <option></option>
                  <option></option>
              </select>
            </div>
            <div class="col-xs-6 form-70">
                <button class="btn btn-filtro" type="button">Filtrar</button>
            </div>
            <div class="col-xs-7 form-190 dropdown pull-right">
                <button data-toggle="dropdown" class="btn btn-exportar" type="button" name="button">
                    Exportar <span class="glyphicon glyphicon-open"> </span>
                </button>
                <ul class="dropdown-menu">
                  <li style="border-bottom: 1px solid silver;"><a href="#">Excel</a></li>
                  <li><a href="#">PDF</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="hrShow">
    <div class="col-xs-12 historial-table">
        <table class="table" id="TablaHistorial">
            <thead id="theadBg">
                <tr>
                    <th>Agente <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th>Apellido <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th>Aerolínea <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th>Tarifa <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th>Monto <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th>Inicio <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th>Fin <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th>Servicios <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th>Comisión <i class="fa fa-sort" aria-hidden="true"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Roberto</td>
                    <td>Rosales</td>
                    <td>Avianca</td>
                    <td>000000</td>
                    <td>Loremlorem</td>
                    <td>00/00/0000</td>
                    <td>00/00/0000</td>
                    <td>Loremlorem</td>
                    <td>0000000</td>
                </tr>
                <tr>
                    <td>Roberto</td>
                    <td>Rosales</td>
                    <td>Avianca</td>
                    <td>000000</td>
                    <td>Loremlorem</td>
                    <td>00/00/0000</td>
                    <td>00/00/0000</td>
                    <td>Loremlorem</td>
                    <td>0000000</td>
                </tr>
                <tr>
                    <td>Roberto</td>
                    <td>Rosales</td>
                    <td>Avianca</td>
                    <td>000000</td>
                    <td>Loremlorem</td>
                    <td>00/00/0000</td>
                    <td>00/00/0000</td>
                    <td>Loremlorem</td>
                    <td>0000000</td>
                </tr>
                <tr>
                    <td>Roberto</td>
                    <td>Rosales</td>
                    <td>Avianca</td>
                    <td>000000</td>
                    <td>Loremlorem</td>
                    <td>00/00/0000</td>
                    <td>00/00/0000</td>
                    <td>Loremlorem</td>
                    <td>0000000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination historial-pagination pull-right">
        <ul class="pagination-item">
            <li class="item-btn">1</li>
            <li class="item-btn item-btn-active">2</li>
            <li class="item-btn">3</li>
            <li class="item-btn">Siguiente</li>
        </ul>
    </div>
</div>
