<div class="col-md-12">
  <div class="col-md-offset-4 col-md-4 mpErrors"><br>
    <img src="images/ic_500_texto.png" class="center-block" alt="" /><br><br>
    <h1 class="text-center hBig">ERROR</h1>
    <h4 class="text-center hShort">INTENTE DE NUEVO</h4>
    <a href="#" class="btn btn-errors btn-lg center-btnError">Actualizar</a>
    <p>
      PARECE QUE HA HABIDO UN ERROR EN NUESTROS SERVIDORES
    </p>
  </div>
</div>
