<div class="col-xs-12">
    <div class="col-xs-12 historial">
        <div class="form-group">
            <div class="col-xs-7 form-190">
                <label class="top-label">Buscar :</label>
                <input type="text" class="form-control search_Historial" value="" placeholder="Avianca">
            </div>
            <div class="col-xs-7 form-150">
                <label class="top-label">Desde :</label>
                <input type="text" class="form-control datepicker" value="" placeholder="00/00/0000">
            </div>
            <div class="col-xs-7 form-150">
                <label class="top-label">Hasta :</label>
                <input type="text" class="form-control datepicker" value="" placeholder="00/00/0000">
            </div>
            <div class="col-xs-7 form-150">
                <button class="btn btn-filtro" type="button">Filtrar</button>
            </div>
            <div class="col-xs-6 form-150">
                <label class="top-label">Estado :</label>
                <select class="form-control historial-select">
                    <option>Estado 01</option>
                    <option></option>
                    <option></option>
                </select>
            </div>
            <div class="col-xs-7 form-190 dropdown">
                <button data-toggle="dropdown" class="btn btn-exportar" type="button" name="button">
                    Exportar <span class="glyphicon glyphicon-open"> </span>
                </button>
                <ul class="dropdown-menu">
                  <li style="border-bottom: 1px solid silver;"><a href="#">Excel</a></li>
                  <li><a href="#">PDF</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="hrShow">
    <div class="col-xs-12 historial-table">
        <table class="table" id="TablaHistorial">
            <thead id="theadBg">
                <tr>
                    <th>Número <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th>Nombre de cliente <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th>Fecha de servicio <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th>Aerolínea <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th>N de vuelo <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th>Nombre de agente <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th>Estado <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0000000</td>
                    <td>Oscar Perez Valdez</td>
                    <td>14-05-2016</td>
                    <td>avianca</td>
                    <td>p555</td>
                    <td>Silvia Flores Jara</td>
                    <td>Finalizado</td>
                    <td><span class="ico_vermas ico"></span></td>
                </tr>
                <tr>
                    <td>2400600</td>
                    <td>Pablo Perez Valdez</td>
                    <td>31-05-2016</td>
                    <td>Pvianca</td>
                    <td>a555</td>
                    <td>Jilvia Flores Jara</td>
                    <td>Ainalizado</td>
                    <td><span class="ico_vermas ico"></span></td>
                </tr>
                <tr>
                    <td>1000000</td>
                    <td>Fiorella Silva Jara</td>
                    <td>03-05-2016</td>
                    <td>Vuela perú</td>
                    <td>a555</td>
                    <td>Juanito perez</td>
                    <td>Anulado</td>
                    <td><span class="ico_vermas ico"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination historial-pagination pull-right">
        <ul class="pagination-item">
            <li class="item-btn">1</li>
            <li class="item-btn item-btn-active">2</li>
            <li class="item-btn">3</li>
            <li class="item-btn">Siguiente</li>
        </ul>
    </div>
</div>
