




tex-regular = '', helvetica, arial
tex-bold = '', helvetica, arial
tex-italic = '', helvetica, arial
$color1 = #05919B
$color2 = #fff
$color3 = #000f4b
$color7 = #123A67

//border searchig//
$color4 = #ECEDF2

//color de texto input
$color5 = #91999b

//bold de textos detail
$color6 = #606c76

$redoscuro = #BC0404

$dark-gray = #606c76



.green
  color $color1
.blue
  color $color3
.gray
  color $color5
.dark-gray
  color $dark-gray
