

////////////////////////////////////////////
//// ESTILOS DE LA ESTRUCTURA DEL SITIO ////
////////////////////////////////////////////

body
  color #91999B

.main-login [class*="col-"]
  height 100%
  position absolute

.main
  width: 100% !important
  min-width 1220px
  float: left;
  overflow hidden !important
  padding-right: 0 !important
  background: linear-gradient(90deg, $color3 57px, #fff 57px);

.main-login .main-content
  min-width 1280px



.content-form-signin
  max-width 350px
  padding 40px
  width 100%
  position absolute
  right 0
  bottom 50%
  margin-bottom -185px

.line-separation
  height 236px
  width 2px
  background-color $color1

.content-form-signin .content-logo
  bottom 150%
  margin-bottom -324px
  position absolute
  right 150%

.content-form-signin .content-logo2
  bottom 164%
  margin-bottom -324px
  position absolute
  right 150%
.content-form-signin .content-line
  bottom 80%
  left -21%
  margin-bottom -185px
  position absolute

// NAV
.sidebar-collapse .nav > li > a.ico-inicio:hover
  background-color $color3

.ico-inicio
  position relative
  width 57px
  height 35px
  display block
  border-bottom solid 1px #152A6D

.ico-inicio img
  top: 50%;
  left:50%;
  margin-top: 6px;
  margin-left: 6px;

.nav > li > a
  padding: 0px

.nav-item .ico
  position relative
  width 57px
  z-index 2
  background-color $color3
  transition background-color 0.4s

.navbar-static-side
  float left
  width 57px
  z-index 2001
  position fixed
  height 100%

.navbar-default
  background-color $color3
  border-color #2f4050

.sidebar-collapse .nav > li > a
  color #a7b1c2
  font-weight 600
  text-align center

.sidebar-collapse .nav > li > a:hover
  background-color $color1
  color $color2

.item-close
  margin-top 22px

.nav-label
  background-color $color1
  display block
  color $color2
  border-radius 0 3px 3px 0
  left -200px
  padding 16.5px
  position absolute
  top -0.1px
  transition left 0.3s ease
  &:hover
    background-color $color1

.nav-item
  position relative
  width 56.5px
  height 58px
  float left
  border-bottom solid 1px #152A6D
  &:hover
    .nav-label
      left 56px
    .ico
      background-color $color1
  &.active
    .ico
      background-color $color1


//CONTENT-RIGHT


.main-right-panel
  float left
  margin 0
  width calc(100% - 57px)
  margin-left 57px



//HEADER LEFT
.header-title
  padding-top 38px
  display inline-block
  color $color2
  letter-spacing: -3px;
  font-size 52px





//HEADER RIGHT //
.panel-header
  height 92px
  background-image url('../images/im_cabecera.jpg')
  padding-left 27px
  background-position 0 246px
  padding-right 30px
  background-position cover
  position: relative;
  z-index: 9;
  box-shadow: 0 4px 4px 0 #ccc;

.header-sesion
  margin-top 30px

.header-sesion span
  display block
  color $color2

.header-sesion > span
  font-weight 300
  line-height 1.2

.header-sesion .sesion-medium
  font-size 19px


//PANEL CONTENT //
.panel-content
  > div
    height: calc(100% - 92px)
    padding-right: 50px;
    position: absolute;
  .section-right
    height: 100%
.section-right
  // overflow-y: auto;
  // overflow-x: hidden;
  padding-right: 20px
  // min-width: 50%;
.section-left
  // overflow-y: auto;
  // overflow-x: hidden;
  // height: 100%;
  -webkit-box-shadow: 2px 0 5px -2px #ccc;
  box-shadow: 2px 0 5px -2px #ccc;
  background white
  z-index 8

.section-left-searching
  height 59px

.searching-input.form-control
  height 57px
  border 0px
  background-image url('../images/ic_buscar.png')
  background-repeat no-repeat
  background-position 26px center
  padding-left 62px
  box-shadow none
  &:focus
    box-shadow none

.add-registro-link
  height 59px
  width 59px
  display block

.section-left-content
  border-bottom solid 2px $color4

.section-left-content div
  display inline-block
  vertical-align middle

.section-left-estado .form-control
  appearance none
  background url('../images/ic_punta_abajo.png') 99% 11px no-repeat
  border 0 none
  font-size 21px
  cursor pointer
  font-weight 300
  box-shadow none
  padding 0 27px 0 0

.section-left-estado .form-control option
  font-size 16px

.add-registro-link
  sprite($ic_nuevo_off)
  &:hover
    background-position $ic_nuevo_on_offset_x $ic_nuevo_on_offset_y

.item-col1 span
  display block

.item-col1
  padding 20px 0 10px 25px
  line-height 1

.item-col1 .col1-top
  font-size 15px

.item-col1 .col1-bottom
  font-size 55px
  letter-spacing -3px

.item-col1 .col1-line
  border-right solid 1px #ECEDF2
  padding-bottom 28px
  padding-right 25px
  padding-top 15px

.item-col2
  display block
  padding 20px
  padding-top 30px
  line-height 1.1

.item-col2 .item-span-tall
  font-size 25px
  margin-right 10px
  font-weight 500
  display block
  clear both

.item-col2 .item-span-light
  font-size 20px
  font-weight 300

.item-span-small
  color #BDC2C3
  clear both
  float left
  width 100%

.item-span-light
  clear both
  float left
  width 100%

.item-col3
  display block
  padding 20px
  padding-top 30px
  line-height 1.1

.item-col3 .form-group
  margin-bottom 10px
  display table

.section-item
  border-bottom 1px solid #ecedf2
  border-top 1px solid #ecedf2
  clear both
  display table
  padding-bottom 20px
  cursor pointer
  &:first-of-type
    border-top 0px

  .link-editar
    right 12px
    top 12px
    position absolute
  .link-eliminar
    right 12px
    bottom 20px
    position absolute

.section-item-disabled
  background #f5f5f5
  opacity 0.2
  color transparent
  text-shadow:0 0 3px #333;
  box-shadow: 0 0 7px #ccc;



.ico-editar
  sprite($ico_editar)
  margin-left 10px
  cursor pointer


.link-editar
  sprite($ic_editar_off)
  &:hover
    background-position $ic_editar_on_offset_x $ic_editar_on_offset_y

.link-eliminar
  sprite($ic_eliminar_off)
  &:hover
    background-position $ic_eliminar_on_offset_x $ic_eliminar_on_offset_y

.mensaje-info
  font-size 20px
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -14px;


// DETAIL RIGHT //
.fecha
  line-height 1

.fecha .col1-bottom
  font-size 55px
  letter-spacing -3px

.fecha span
  display block

.detail-fecha
  background-color $color1
  color $color2
  margin-left 56px
  padding-top 45px
  width 67px

.detail-registro
  display: block
  line-height: 1.1
  padding: 39px 37px 20px

.detail-registro .item-span-tall
  font-size 35px
  font-weight 500
  color #606C76

.detail-registro .item-span-light
  color $color1
  font-size 20px
  color #05919b
  font-weight 400
  letter-spacing -0.9px

.detail-content
  padding 0 26px 56px 56px
  padding-top 0px
  float left

.detail-content p
  font-weight 300
  color #6B767F

.content-title
  margin-top 30px

.content-title p
  line-height 0.3

.content-title .title-principal
  font-size 20px

.content-text
  margin-top 35px
  line-height 0.8

.content-hour p
  line-height 1.2
  margin-bottom 0
  margin-top 0


.content-all-hour
  margin-top 50px

.content-person
  margin-top 45px

.content-hour
  .hour
    border-right 2px solid $color4
    margin-right 20px
    height 78px
    .clock
      font-size 30px
      color $color1
      font-weight 500
  &:last-of-type .hour
    border-right 0px

.content-person p
  line-height 0.3

.content-description
  margin-top 14px
  p
    line-height: 1.2
.content-descriptionTB
  margin-top 14px
  margin-bottom: 80px
  p
    line-height: 1.2
.content-description2
  margin-top 14px
  margin-bottom: 25px
  p
    line-height: 1.2

.content-description .text-green, .text-green
  color $color1

.text-sobre
  color #606C76
  font-weight normal
.content-description-item
  border solid 1px $color4
  float left
  width 100%
  padding 15px
  border-radius 3px
  p
    line-height: 0.7

.content-person
  .text-medium
    font-size 20px
  .text-green
    font-size 1.6rem
  .text-medium2
    font-size: 20px

// ---------------------------------------------------------   Adm_web_US4.png  -----------------------------------------//
.content-view
  padding 21px 30px 90px 36px
  float left
  width 100%
  .form-group
    float left
    width 100%

.control-label
  font-size 22px
  font-weight 500
  color #606C76

.view-add-registro select, .view-edit-registro select, .view-detail-solicitud select
  appearance none
  background rgba(0, 0, 0, 0) url("../images/ic_punta_abajo.png") no-repeat scroll 93% 13px
  border 0 none
  cursor pointer
  border solid 1px #ccc
  font-weight 300
  box-shadow none
  height 43px
  width 270px

.top-label
  background white none repeat scroll 0 0
  display table
  left 13px
  padding-left 5px
  padding-right 5px
  position absolute
  color #606c76
  top -11px
  z-index 1

.content-select
  float left
  margin-top 30px
  width 100%
  padding-left 18px

.content-programing
  margin-top 30px
  float left
  padding-left 18px
  width 100%
  p
    line-height 1
  .text-text
    margin-right 30px

.text-label
  font-weight 500
  color #606c76

.block-datos-del-cliente
  margin-top 40px
  float left
  width 100%
  .content-input
    padding-left 18px
  input
    height 43px
    width 270px
    font-size 15px
    font-weight 300
    display inline
  select
    display inline
  // textarea
  //   width auto
.view-add-registro select, .view-edit-registro select
  display inline

.content-select .form-group, .block-datos-del-cliente .form-group
  margin-bottom 28px

.form-control
  color $color5


//Admin_web_US8
.estado-user
  display inline-block
  position relative
  padding 5px 5px 5px 0
  span
    padding-left 9px
    padding-right 20px
  a, a:hover
    margin-top 0px
  .icheckbox_minimal-blue
    margin-bottom 3px
.section-item.user
  padding-left 11px
.item-span-normal
  font-weight 300
  float left
  width 100%
.section-item.user.full
  padding-top 20px
.section-item.user.full .item-col3
  padding 40px 20px 20px
.section-left-content.section-full-estado div
  padding-right: 10px;
  line-height: 50px;

.block-datos-del-usuario
  float left
  width 100%
  .content-input
    padding-left 18px
  input[type="text"], input[type="number"]
    height 43px
    width 270px
    font-size 15px
    font-weight 300
    display inline
  select
    display inline
  textarea
    width auto
.modal-body
  float left
  width 100%
  input
    height 43px
    width 270px
    font-size 15px
    font-weight 300
    display inline
  .input-xs
    width: 120px
  select
    display inline
  textarea
    width auto
.content-select .form-group, .block-datos-del-usuario .form-group, .modal-body .content-input .form-group
  margin-bottom 28px
  display inline-block
.form-group.from-group-bottom
  margin-bottom 3px
.link-change-password, .link-change-password:hover
  margin-left 18px
  color $color1
  text-decoration underline
.view-detail
  position: absolute;
  width: 100%;
  height: 100%;

  .col-xs-12 .content-view
    // position absolute
    height 100%
    display: table
  // > div
  //   height 100%


#assistance-edit
  .modal-body
    .form-group
      position: relative;
    .input-xs-left
      margin-right: 30px
    // .input-xs-right
    //   margin-left: 15px



.pull-right.btn-bottom
  // position absolute
  bottom 20px
  right 20px
  height inherit
  padding 8px

//Admin_web_US12
.float-none
  float none
  margin-right 10px

.form-groups-block
  margin-top 40px
  float left
//Admin_we_US16
.btn-estado.btn-estado-ocupado
  background $color5
  border-color $color5

.content-item-span .item-span
  padding 5px 25px
  border solid 1px $color1
  border-radius 5px
  display inline-block
  margin-top 10px
  margin-right 15px
.label-ott .label-redoscuro .label-text
  color $redoscuro
.label-ott .label-text
  padding-right 15px
  font-weight bold
  color $dark-gray
.detail-registro-agente
  padding-left 56px
.item-span-light-agente
  margin-top 10px
  margin-bottom 5px
.span-bold
  font-weight bold
  color $color6

.label-content
  padding-right 35px
.label-redoscuro
  color $redoscuro
.conten-description-agente
  margin-top 40px
.conten-description-aerolineas
  margin-top 25px
.content-select-agente
  margin-top 15px
.pagination
  padding-right 20px
  .number, .next-page, .first-page, .previous-page, .last-page
    display inline-block
    background $dark-gray
    padding 2px 8px 2px 8px
    color $color2
    font-size 14px
  .number.current
    background $color1
.pagination-item
  list-style none
  .item-btn
    display inline-block
    background $dark-gray
    padding 2px 8px 2px 8px
    color $color2
    font-size 14px
  .item-btn.item-btn-active
    background $color1
.datepicker
  background url('../images/ic_calendario.png')
  background-repeat no-repeat
  background-position right 10px center
.form-control.input-500
  width 500px !important
.form-control.input-150
  width 150px !important
.form-control.input-50
  width 50px !important
.content-input-col3 .form-group
  width auto
  padding-right 25px
.form-group.alerta .top-label
  color $redoscuro
.form-group.alerta .form-control
  border $redoscuro
  color $redoscuro
  font-weight bold
.content-option
  border solid 1px $color4
  border-radius 5px
  table
    margin 20px
  table tr td
    padding-left 8px
    padding-right 8px
    line-height 1
.option-span
  padding 50px 30px
  line-height 25px
  display inline-block
  span
    float left
    width 100%
    line-height 1.2

.content-space
  margin-top 10px
  margin-bottom 10px
  float left
  width 1000%
.table-select-input select, .table-select-input select:hover, .table-select-input select:active, .table-select-input select:focus
  border none
  padding-right 50px
  text-align right
  width 150px
.table-select-input
  display inline-block
  height 35px
.color-light
  color $color4

.item-col2.alerta
  margin-top 14px
  padding-top 5px
  padding-bottom 7px

.item-col2.right-col
  padding-left 30px
  border-left solid 1px $color4

.content-alert
  display inline-block
  padding-bottom 40px

.content-alert.alert-left
  padding-right 50px
  border-right solid 1px $color4

.content-alert.alert-right
  padding-left 50px
.item-span-normal.span-alerta
  margin-left -10px
  margin-bottom 10px
.label-left
  margin-left 25px
  margin-top -13px
.col-3-center
  margin-top 12px
  margin-bottom 2px
  margin-right -15px
.form-control.textarea-full
  width 100%

.content-input-num
  padding-left 50px
  display inline-block
  position relative
  h1
    position absolute
    left 10px
    top 5px
.form-310
  width 310px

.form-190
  width 190px
.form-130
  width: 130px
.form-150
  width: 150px
.form-70
  width 70px
.form-550
  width 550px !important

.btninput .dropdown-toggle, .btninput .dropdown-toggle:hover, .btninput .dropdown-toggle:active, .btninput .dropdown-toggle:link
  display inline
  font-size 15px
  font-weight 300
  height 43px
  text-align left
  width 270px
  background transparent !important
  z-index 0 !important
  box-shadow none !important
  border 1px solid #ccc !important
  color #91999b

.btninput .multiselect-selected-text
  text-transform initial


.content-bottom-btn
  background rgba(255, 255, 255, 0.75)
  border-top 1px solid #f1f1f1
  bottom 0
  display table
  right 0
  position fixed
  margin-left 5px
  width calc(100% - 60px)
  z-index 2

/** style for errors 25-04-2016 **/
.mpErrors
  margin-top: 3.125em
  margin-bottom: 3.125em
  a
    margin-top: 2.500em
    color: $color2
    &:hover
      color: $color2
    &:focus
      color: $color2
  p
    margin-top: 1.875em
    color:$color7
    font-weight: bold
    font-size: 10px
    text-align: center
  h3
    color:$color7
    font-weight: bold
    font-size: 14px
    text-align: center
  .hBig
    font-size: 85px
    color:$color7
    font-weight: bold
    line-height:65px
  .hMedium
    font-size: 23px
    color: $color7
    font-weight: bold
    line-height:40px
  .hMedium2
    font-size: 30px
    color: $color7
    font-weight: bold
    line-height:40px
  .hShort
    color: $color7
    font-weight: bold
    line-height:40px
.center-btnError
  width: 300px
  display: table
  margin-right: auto
  margin-left: auto
.btn-errors
  background-color:$color1
  border-radius: 2px

.grid_aerolinea-19
  min-height: 650px
.error_aerolinea-13
  margin-top: 4.063em
  margin-bottom: 4.063em
  h1,h2,h3,h4,h5
    color: $color7
    font-weight: bold
  p
    opacity: .7

/** style for web history 02-05-2016 **/
.historial-table
  padding-left: 50px
  padding-right: 50px
.historial-pagination
  padding-left: 50px
  padding-right: 50px
.historial
  margin-top: 50px
  margin-bottom: 50px
  margin-left: 4%
  width: calc(100% - 7.5%)
  input
    height: 43px
  select
    height: 43px
  button
    height: 43px
    text-transform: capitalize
    font-size: 15px
    color: white
    &:hover
      color: white
    &:focus
      color: white
  .btn-filtro
    background-color: $color3
    width: 100px
    margin-left: 40%
  .btn-exportar
    background-color: $color1
    width: 130px
    margin-left: 31%
  .search_Historial
    background-image url('../images/ic_buscar.png')
    background-repeat no-repeat
    background-position 150px center
    padding-left 19px
    box-shadow none
.historial-select
  background: rgba(0,0,0,0) url("../images/ic_punta_abajo.png") no-repeat scroll 93% 13px
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
.form-group
  div:nth-child(1n+2)
    margin-left: 3%
.hrShow
  width: 93%
  background: $color1
  height: 2px
  overflow hidden
#theadBg
  background: #F2F2F2
  border: none
  color: $color6
.table
  // width: 100% !important
  .content-description-table
    border: solid 1px $color4
    overflow-y: scroll
    height: 80px
    width: 100% !important
    position: absolute
    tr
      td
        line-height: 14px !important
    & > tr
      display: inline-table
      width: 100%
      & > td
        border-top: none
        line-height: 6px

  thead
    th
      cursor: pointer
    & > tr
      & > th
        border: none
        box-shadow: none

/** style for dashboard 04-05-2016 **/
.map
  width 100%
  height 100%
.detalle-agente
  width 507px
  position absolute
  background #fff
  z-index 9
  margin-left 32px
  margin-top 15px
.detail-fecha-agente
  background-color #05919b
  color: #fff
  margin-left 24px
  padding-bottom 15px
  padding-top 51px
  width 86px
.b
  height 17px
  display block
  width 17px
  margin-right 10px
  margin-top 2px
  border-radius 3px
.title-principal.ti-blu
  color #000F4B
  font-weight 500
  font-size 18px
.title-principal.ti-gre
  color #05919B
  font-weight 500
  font-size 18px
.title-principal.ti-blu > span
  font-size: 1.6rem
  color #91999b
.title-principal.ti-gre > span
  font-size: 1.6rem
  color #91999b
.bred
  background #C1272D
.bgrren
  background #05919B
.lineal-nom
  display flex
  font-size 13px
  margin-top 3px
.detail-content-agente
  float left
  padding 0 26px 56px 24px
  width 100%
  .content-title
    overflow hidden
    .blo
      margin-bottom 20px
      p
        line-height 0.05
.blo
  .detail-registro
    padding 0px
.num_agentes
  color #05919B
  font-weight 500
  margin-top 10px
  display block
.filtro_search
  padding 30px
  .search_Historial
    background-image url('../images/ic_buscar.png')
    background-repeat no-repeat
    background-position 150px center
    padding-left 19px
    box-shadow none
  input, select, button
    height 43px
  .btn-filtro
    background-color #000f4b
    margin-left 40%
    width 100px
    color #fff
.btn_mostrar_panel
  width 40px
  opacity 1
  height 16px
  position absolute
  top 0px
  background #fff url("../images/ic_punta_abajo_black.png") no-repeat scroll center center
  z-index 999
  right 7%
  cursor pointer
.btn_ocultar_panel
  width 40px
  height 16px
  position absolute
  opacity 1
  bottom -16px
  background #fff url("../images/ic_punta_arriba_black.png") no-repeat scroll center center
  z-index 999
  right 3.4%
  cursor pointer
.closex, .closex:hover
  font-size 35px
  color #606c76
  position absolute
  right 10px
  top 10px
.btn-agente, .btn-agente:hover, .btn-agente:focus
  background #000F4B !important
  color #fff !important
.btn-agente-green, .btn-agente-green:hover
  background #05919B !important
  color #fff !important
.foot-btn
  margin-top 70px
  overflow hidden
.dashboard
  margin-top: 50px
  .dashboard-agents
    border-right: 1px solid silver;
    #chartAgents
      margin-top: -20px
      height: 300px
      width: 60%
.dashboard-service2
  margin-top: 50px
.dsb
  border-top: 1px solid silver
  margin-top: 50px
  margin-bottom: 50px
.bSize1
  font-size: 45px
.btn-dash1
  background: #ecf0f1
  color: gray
  width: 80%
  border-radius: 3px
  padding: 5px
  text-align: center
  border: none
.btn-dash2
  background:gray
  color: white
  width: 80%
  padding: 5px
  border-radius: 3px
  text-align: center
  border: none
  margin-top 8px
  margin-bottom: 8px
.btn-aplicar
  background-color: $color1
  width: 86px
  color: white
.btn-aplicar:hover
  color: white
.canvasjs-chart-credit
  display: none
.fM
  margin-left: 7%
.pM
  margin-left: 25%
#chartService
  height: 200px
  width: 50%
#chartContainer
  height: 300px
  width: 80%
.modal-medium2
  width: 600px
.modalM3
  width: 65%
.closeBtn
  button
    margin-top: 8px
#borderComment
  border: 1px solid silver
.pCaja
  padding: 14px
.dropdown-menu
  font-size: 16px
  background: #ecf0f1
  color: black
  border: none
  border-radius: 0
  margin-left: 60px
  min-width: 130px
  top: 41px
  & > li
    & > a
      margin-top: 5px
      margin-bottom: 5px
      &:hover
        background: transparent
.txtGreen
  font-weight: none
  color: #05919b
.container-fluid
  margin-left: 4%
.buttonsDash
  .btn-dash1
    &:nth-child(3)
      margin-top 8px
      margin-bottom: 8px
.reportabs
  margin-top: 35px
  margin-bottom: 15px
  margin-left: 4%
  a
    font-weight: 500
    color: silver
  .activeReport
    color: $color1
.hrShow2
  width: 93%
  background: $color1
  height: 2px
  opacity: 0.5
  overflow hidden
.passwordNew
  color: #05919b !important
  font-weight: 500 !important
  font-size: 13.5px
.passwordNew2
  color: #05919b !important
  font-weight: 500 !important
#bodyContent p, #bodyContent1 p
  margin 0px
  font-size 17px
#bodyContent h1
  color #05919B
  font-size 13px
  font-weight 700
#bodyContent1 h1
  color #000F4B
  font-size 13px
  font-weight 700

.detalle-agente.ocul
  margin-left -600px
  transition all 0.9s
