// BLOQUES QUE SE REUTILIZARÁN




// DISPLAY TABLE
.display-table
  display-table()

  .display-table-cell
    display-table-cell()



// CENTER
.big-center
  centers(1500px)

.center
  centers(1200px)

.small-center
  centers(980px)




// CLEARFIX
.clearfix
  clearfix()




// PROPERTIES
.hide
  opacity 0
.none
  display none
.error
  // border 1px solid red !important
  color red
  display block
  font-size 12px
  height 17px




// ICO
.ico
  display inline-block

.ico-dashboard
  sprite($ic_dashboard)

.ico-visualizar
  sprite($ic_mapa)

.ico-solicitudes
  sprite($ic_solicitudes)

.ico-historial
  sprite($ic_historial)

.ico-usuarios
  sprite($ic_usuario)

.ico-coordinadores
  sprite($ic_coordinadores)

.ico-agentes
  sprite($ic_agentes)

.ico-sillas
  sprite($ic_sillas)

.ico-aerolineas
  sprite($ic_aerolinea)

.ico-alertas
  sprite($ic_alerta)

.ico-configuracion
  sprite($ic_configuracion)

.ico-reportes
  sprite($ic_reporte)

.ico-close
  sprite($ic_salir)

.ico_vermas
  sprite($ic_vermas)
  cursor: pointer

.ico-torta
  sprite($ic_torta)
  margin-bottom -2px
  margin-right 10px

.ic_calendario
  sprite($ic_calendario)

.ic_llegada
  sprite($ic_llegada)
  margin-right 8px

//--------------------CONTROLES LOGOGIN -----------------//
//FONDO LOGIN
.main-login
  background-image url('../images/img_bg.jpg') !important
  background-size cover !important
  background-position 0 center

//---------INPUT
.form-control.signin-input
  width 265px
  height 50px
  border solid 2px #606C76
  background-color rgba(010, 010, 010, .2);

.form-control.signin-input:focus
  border solid 2px $color1
  box-shadow none
.form-control:focus
  border solid 1.5px $color1
  box-shadow none


//---------BOTON
.btn
  text-transform: uppercase
.btn.signin-btn
  width 265px
  height 50px
  background-color $color1
  color #fff
  margin-top 44px

.btn-medium.btn-green, .btn-medium.btn-green:hover, .btn-medium.btn-green:active, .btn-medium.btn-green:focus
  background $color1
  color $color2
  border $color1
  border-radius 2px

.btn-medium.btn-white, .btn-medium.btn-white:hover, .btn-medium.btn-white:active, .btn-medium.btn-white:focus
  border none
  background none
  border-radius 2px
  color #606C76

.btn-medium
  width 190px
  height 36px
  font-size 16px

//---------LINK
.forgot-password.signin-link
  color $color1
  display table
  margin-top 32px
  font-weight 500

.btn-estado.btn-xs, .btn-estado.btn-xs:hover, .btn-estado.btn-xs:active, .btn-estado.btn-xs:focus
  background-color $color1
  border-color $color1
  color $color2 !important
  margin-top 6px
  padding-left 15px
  padding-right 15px



//MODALES BOOTSTRAP
.modal-medium
  width: 450px
.modal-body
  padding: 0px 20px
.modal-content
  border-radius: 0
.modal-title
  font-size 24px
  medium()
.modal-header, .modal-footer
  border none
.modal-text
  font-size 15px
  line-height: 26px



//NOTIFICACIONES
[data-notify="container"][class*="alert-"]
  border-radius: 2px;
  padding 15px
  position: relative;
  border none
  max-width: 300px

[data-notify="container"].alert-success
  background-color $color1
[data-notify="container"] .close
  color white
  opacity: 1


[data-notify="container"][class*="alert-"] > [data-notify="title"]
  color white
  font-size 35px
  margin-bottom: 15px
  font-style: italic
  clear both
  display block
  margin 0

[data-notify="container"][class*="alert-"] > [data-notify="message"]
  font-style: italic
  color white
  font-size: 15px







//SECTION CONFIG
.section-config
  position: relative;

  //CONFIG LANGUAGE
  .config-language
    position: absolute;
    right: 20px
    top 10px
    z-index: 1;
    span
      display: inline-block;
      cursor: pointer
    .language-separator
      margin 0 10px
      cursor auto


  .block-container
    &:first-of-type
      background-color: #f2f2f2
  .box-shadow
    box-shadow: 6px 6px 11px -2px #ccc

  //CONFIG BLOCK
  .config-block
    padding 45px 20px 50px 60px
    height: 231px
    overflow: hidden;
    .config-title
      font-size 15px
    .config-text
      font-size: 15px
      margin-top: 38px


  //SPINNER
  .bootstrap-touchspin
    display: block
    float: left
    .input-group-addon
      border: none;
      background: transparent;
      position: absolute;
      font-size: 23px;
      right: -7px;
      top: 68px;
      color $color5
      text-transform: capitalize;
      light()
    .spinner-time, .spinner-amount
      width: 77px
      height: auto
      padding-left: 0;
      padding-right: 0;
      border none
      box-shadow: none
      font-size 55px
      margin-top: 30px;
      regular()
      text-align: center;
      background transparent
    .input-group-btn-vertical
      width: 100%;
      height: 100%;
      position: absolute;
      >.btn
        position absolute
        border none
        left: 15px;
        z-index: 2;
        background: transparent;
        box-shadow: none
        height 55px
        .fa
          font-size 55px
          color $color5
    .bootstrap-touchspin-up
      top: -5px;
    .bootstrap-touchspin-down
      bottom -23px

  .table-title
    font-size: 15px
    margin:35px 0 0 60px

  //CONFIG TABLE
  .config-table
    width: 870px
    margin-left: 60px
    >thead>tr>th
      border-width 1px
      line-height: 30px;
      font-size 20px
      light()
    .plus-ico
      vertical-align: bottom;
      margin-left 15px
      font-size 45px
      light()
      cursor pointer
    td
      font-size 17px
      color $dark-gray
      &:first-of-type
        light()
        width: 52%
        font-size 20px
    .ico
      margin-left 20px
      vertical-align: middle;
    .link-eliminar
      margin-top -3px
