

@media only screen and (min-width:1900px)
  .pM
    margin-left: 35%
  .fM
    margin-left: 26%

@media only screen and (max-width:1220px)
  .content-bottom-btn
    position absolute




@media only screen and (max-height:840px)
  .navbar-static-side
    position: absolute;
    height: auto
